{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
        <div class="col-sm-10">
          <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
          {% if (error_name) %} 
          <div class="text-danger">{{ error_name }}</div>
          {% endif %} 
        </div>
      </div>          
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-title">Заголовок модуля</label>
          <div class="col-sm-10">
            {% for language in languages %} 
            <div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span> {% set fieldName = "title" ~ language['language_id'] %} 
            <input type="text" name="title{{ language['language_id'] }}" value="{{ attribute(titles, fieldName)  is defined  ? attribute(titles, fieldName)  : '' }}" placeholder="Заголовок модуля" id="input-title{{ language['language_id'] }}" class="form-control" />
            </div>
            {% endfor %} 
          </div>    
      </div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Настройка только для верхнего или нижнего отображения модуля в макете страницы" data-original-title="Настройка только для верхнего или нижнего отображения модуля в макете страницы">Шаблон вывода</span></label>
				<div class="col-sm-2">
					<select name="view" class="form-control">
							<option value="" {{ view == '' ? 'selected="selected"' : '' }}>Плитка</option>
							<option value="1" {{ view == '1' ? 'selected="selected"' : '' }}>Слайдер</option>
					</select>
				</div>
			</div>	
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}