{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-slideshow" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-slideshow" class="form-horizontal">
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-10">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if (error_name) %} 
              <div class="text-danger">{{ error_name }}</div>
              {% endif %} 
            </div>
          </div>

      
              <div class="form-group required">
                <label class="col-sm-2 control-label" for="input-image-related"><span data-toggle="tooltip" title="" data-original-title="Размер изображения (Ш x В)">Размер (Ш x В)</span></label>
                <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-6">
                  <input type="text" name="width" value="{{ width }}" placeholder="Ширина" id="input-image-related" class="form-control"  />
        {% if (error_width) %} 
              <div class="text-danger">{{ error_width }}</div>
              {% endif %} 
                  </div>
                  <div class="col-sm-6">
                  <input type="text" name="height" value="{{ height }}" placeholder="Высота" class="form-control" />
              {% if (error_height) %} 
              <div class="text-danger">{{ error_height }}</div>
              {% endif %} 
                  </div>
 
                    <div class="checkbox" style="display: none;">
                      <label><input name="resize" type="checkbox" value="1" {{ resize ? 'checked="checked"' : '' }}> Техникс ресайз</label>
                    </div>

                </div>
                </div>

                <label class="col-sm-2 control-label" for="input-image-related"><span data-toggle="tooltip" title="" data-original-title="Размер второго изображения на мобильном устройстве (Ш x В)">Моб. размер (Ш x В)</span></label>
                <div class="col-sm-4">
                <div class="row">
                  <div class="col-sm-6">
                  <input type="text" name="width2" value="{{ width2 }}" placeholder="Ширина" id="input-image-related" class="form-control"  />
        {% if (error_width2) %} 
              <div class="text-danger">{{ error_width2 }}</div>
              {% endif %} 
                  </div>
                  <div class="col-sm-6">
                  <input type="text" name="height2" value="{{ height2 }}" placeholder="Высота" class="form-control" />
              {% if (error_height2) %} 
              <div class="text-danger">{{ error_height2 }}</div>
              {% endif %} 
                  </div>
                </div>
                </div>
              </div> 
              
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-img_link"><span data-toggle="tooltip" title="" data-original-title="Автоматически масштабировать изображение в пропорции (Ш x В)">Размер в пропорции</span></label>
        <div class="col-sm-10">
          <div class="row">
            <div class="col-sm-10">
              <label class="radio-inline"><input type="radio" name="resizable" value="1" {{ resizable == 1 ? 'checked' : '' }}> Да</label>
              <label class="radio-inline"><input type="radio" name="resizable" value="0" {{ resizable == 0 ? 'checked' : '' }}> Нет</label>
            </div>            
          </div>          
        </div>          
      </div>  
      
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-height">Автопролистывание</label>
            <div class="col-sm-10">
        <select name="autoplay" class="form-control">
          <option value="0" {{ autoplay == '0' ? 'selected="selected"' : '' }} >Отключено</option>
          {% set i = 2 %}{% for i in i..10 %} 
          <option value="{{ i }}" {{ autoplay == i ? 'selected="selected"' : '' }} >Включено, задержка {{ i }} сек.</option>
          {% endfor %}     
        </select>
            </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-height">Скорость листания</label>
            <div class="col-sm-10">
        <select name="speed" class="form-control">
          {% set i = 1 %}{% for i in i..10 %} 
          <option value="{{ i }}" {{ speed == i ? 'selected="selected"' : '' }} >{{ i*100 }} мс.</option>
          {% endfor %}     
        </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">Ширина слайда</label>
            <div class="col-sm-10">
        <select name="slide_width" class="form-control">
          <option value="full" {{ slide_width == 'full' ? 'selected="selected"' : '' }} >По ширине окна браузера</option>
          <option value="container" {{ slide_width == 'container' ? 'selected="selected"' : '' }} >По ширине сайта</option>
        </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-height">Эффект</label>
            <div class="col-sm-10">
        <select name="slide_fade" class="form-control">
          <option value="0" {{ slide_fade == 0 ? 'selected="selected"' : '' }} >Слайд</option>
          <option value="1" {{ slide_fade == 1 ? 'selected="selected"' : '' }} >Затухание</option>
        </select>
            </div>
          </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-img_link">Клик по изображению</label>
            <div class="col-sm-10">
              <label class="radio-inline"><input type="radio" name="img_link" value="1" {{ img_link == 1 ? 'checked' : '' }}> Да</label>
              <label class="radio-inline"><input type="radio" name="img_link" value="0" {{ img_link == 0 ? 'checked' : '' }}> Нет</label>
            </div>           
      </div>  

      <div class="form-group">
        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
        <div class="col-sm-2">
          <div class="btn-group on-off" data-toggle="buttons">
            <label class="btn btn-default btn-on {{ status == '1' ? 'active' : '' }}">
              <input value="1" type="radio" name="status" id="status-1" autocomplete="off" {{ status == '1' ? 'checked' : '' }}>Вкл.
            </label>
            <label class="btn btn-default btn-off {{ status == '0' ? 'active' : '' }}">
              <input value="0" type="radio" name="status" id="status-0" autocomplete="off" {{ status == '' ? 'checked' : '' }}>Откл.
            </label>
          </div>
        </div>          
      </div>    
    <div class="form-group">
    <div class="col-sm-12">
          <ul class="nav nav-tabs" id="language">
            {% for language in languages %} 
            <li><a href="#language{{ language['language_id'] }}" data-toggle="tab"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /> {{ language['name'] }}</a></li>
            {% endfor %} 
          </ul>   
    <div class="tab-content">
            {% set technics_main_slider_row = 0 %}
            {% for language in languages %} 
            <div class="tab-pane" id="language{{ language['language_id'] }}">
              <table id="images{{ language['language_id'] }}" class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <td class="text-center">Изображение</td>
                    <td class="text-left"><span data-toggle="tooltip" title="" data-original-title="Изображение на мобильном устройстве, если не выбрано, используется стандартное изображение">Моб. изображение</span></td>
                    <td class="text-left">Заголовок</td>
                    <td class="text-left">Текст на слайде</td>
                    <td class="text-left">Текст на кнопке</td>
                    <td class="text-left">Настройка текста</td>
                    <td class="text-left">Ссылка</td>
                    <td class="text-left">Сортировка</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
    {% set technics_main_slider_row = 0 %} 
                  {% if (slider_images is defined) %} 
                  {% for slider_image in slider_images %} 
                  <tr id="image-row{{ technics_main_slider_row }}">
                     <td class="text-center"><a href="" id="thumb-image-{{ technics_main_slider_row }}-{{ language['language_id'] }}" data-toggle="image" class="img-thumbnail"><img src="{{ slider_image['language'][language['language_id']]['thumb'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][image]" value="{{ slider_image['language'][language['language_id']]['image'] }}" id="input-image{{ technics_main_slider_row }}-{{ language['language_id'] }}" /></td>
                     <td class="text-left"><a href="" id="thumb-image2-{{ technics_main_slider_row }}-{{ language['language_id'] }}" data-toggle="image" class="img-thumbnail"><img src="{{ slider_image['language'][language['language_id']]['thumb2'] }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][image2]" value="{{ slider_image['language'][language['language_id']]['image2'] }}" id="input-image2{{ technics_main_slider_row }}-{{ language['language_id'] }}" /></td>
          <td class="text-left"><input type="text" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][title]" value="{{ slider_image['language'][language['language_id']] is defined ? slider_image['language'][language['language_id']]['title'] : '' }}" placeholder="Заголовок" class="form-control" />
                      {% if (error_slider_image[technics_main_slider_row][language['language_id']] is defined) %} 
                      <div class="text-danger">{{ error_slider_image[technics_main_slider_row][language['language_id']] }}</div>
                      {% endif %}</td>
            
          <td class="text-left"><input type="text" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][slider_text]" value="{{ slider_image['language'][language['language_id']]['slider_text'] is defined ? slider_image['language'][language['language_id']]['slider_text'] : '' }}" placeholder="Текст на слайде" class="form-control" />
                      {% if (error_slider_image[technics_main_slider_row][language['language_id']] is defined) %} 
                      <div class="text-danger">{{ error_slider_image[technics_main_slider_row][language['language_id']] }}</div>
                      {% endif %}</td>
          <td class="text-left"><input type="text" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][btn_text]" value="{{ slider_image['language'][language['language_id']]['btn_text'] is defined ? slider_image['language'][language['language_id']]['btn_text'] : '' }}" placeholder="Текст на кнопке" class="form-control" />
                      {% if (error_slider_image[technics_main_slider_row][language['language_id']] is defined) %} 
                      <div class="text-danger">{{ error_slider_image[technics_main_slider_row][language['language_id']] }}</div>
                      {% endif %}</td>
                   <td class="text-left">
                      <select name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][text_color]" class="form-control">
                        <option value="1" {{ slider_image['language'][language['language_id']]['text_color'] == '1' ? 'selected="selected"' : '' }}>Темный цвет</option>
                        <option value="2" {{ slider_image['language'][language['language_id']]['text_color'] == '2' ? 'selected="selected"' : '' }}>Светлый цвет</option>             
                      </select>
                    </td>
                    <td class="text-left"><input type="text" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][link]" value="{{ slider_image['language'][language['language_id']]['link'] is defined ? slider_image['language'][language['language_id']]['link'] : '' }}" placeholder="Ссылка" class="form-control" /></td>
                    <td class="text-right" style="width: 10%;"><input type="text" name="slider_image[{{ technics_main_slider_row }}][language][{{ language['language_id'] }}][sort_order]" value="{{ slider_image['language'][language['language_id']]['sort_order'] is defined ? slider_image['language'][language['language_id']]['sort_order'] : '' }}" placeholder="Сортировка" class="form-control" /></td>
                    <td class="text-left"><button type="button" onclick="$('#image-row{{ technics_main_slider_row }}, .tooltip').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>

                      {% set technics_main_slider_row = technics_main_slider_row + 1 %}
                  {% endfor %} 
                  {% endif %} 
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="7"></td>
                    <td class="text-left"><button type="button" onclick="addImage('{{ language['language_id'] }}');" data-toggle="tooltip" title="Добавить слайд" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                  </tr>
                </tfoot>
              </table>
            </div>
            {% endfor %}  
      </div>
    </div>  
    </div>  
        </form>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
  
var technics_main_slider_row = {{ technics_main_slider_row }};

function addImage(language_id) {
  {% for language in languages %} 
  language_id = {{ language['language_id'] }};
  html  = '<tr id="image-row' + technics_main_slider_row + '">';
  html += '  <td class="text-center"><a href="" id="thumb-image-' + technics_main_slider_row + '-' + language_id +'" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][image]" value="" id="input-image-' + technics_main_slider_row + '-' + language_id +'" /></td>'; 
  html += '  <td class="text-left"><a href="" id="thumb-image2-' + technics_main_slider_row + '-' + language_id +'" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][image2]" value="" id="input-image2-' + technics_main_slider_row + '-' + language_id +'" /></td>';  
    html += '  <td class="text-left"><input type="text" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][title]" value="" placeholder="Заголовок" class="form-control" /></td>';  
    html += '  <td class="text-left"><input type="text" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][slider_text]" value="" placeholder="Текст на слайде" class="form-control" /></td>';  
    html += '  <td class="text-left"><input type="text" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][btn_text]" value="" placeholder="Текст на кнопке" class="form-control" /></td>'; 
    html += '  <td class="text-left">';
	html += '	<select name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][text_color]" class="form-control">';
	html += '		<option value="1">Темный цвет</option>';
	html += '		<option value="2">Светлый цвет</option>';       
	html += '		</select></td>'; 
  html += '  <td class="text-left"><input type="text" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][link]" value="" placeholder="Ссылка" class="form-control" /></td>';  
  html += '  <td class="text-right" style="width: 10%;"><input type="text" name="slider_image[' + technics_main_slider_row + '][language][' + language_id + '][sort_order]" value="" placeholder="Сортировка" class="form-control" /></td>';
  html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + technics_main_slider_row  + ', .tooltip\').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';
  
  $('#images' + language_id + ' tbody').append(html);
  {% endfor %} 
  technics_main_slider_row++;
}
//--></script>  
{{ footer }} 
