{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-featured" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
				<div class="col-sm-10">
				  <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
				  {% if (error_name) %} 
				  <div class="text-danger">{{ error_name }}</div>
				  {% endif %} 
				</div>
			</div>        		
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
				<div class="col-sm-2">
					<div class="btn-group on-off" data-toggle="buttons">
						<label class="btn btn-default btn-on {{ status == 1 ? 'active' : '' }}">
							<input value="1" type="radio" name="status" id="status-1" autocomplete="off" {{ status == 1 ? 'checked' : '' }}>Вкл.
						</label>
						<label class="btn btn-default btn-off {{ status == 0 ? 'active' : '' }}">
							<input value="0" type="radio" name="status" id="status-0" autocomplete="off" {{ status == 0 ? 'checked' : '' }}>Откл.
						</label>
					</div>
				</div>	
				
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Шаблон вывода</label>
				<div class="col-sm-2">
					<select name="view" class="form-control">
							<option value="" {{ view == '' ? 'selected="selected"' : '' }}>Табы</option>
							<option value="1" {{ view == '1' ? 'selected="selected"' : '' }}>Слайдер</option>
							<option value="2" {{ view == '2' ? 'selected="selected"' : '' }}>Сетка</option>
					</select>
				</div>
			</div>	
			<div class="form-group cell-lim" style="display:none">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Только для шаблона вывода - Табы, Сетка" data-original-title="Только для шаблона вывода - Табы">Товаров в строке</span></label>
				<div class="col-sm-2">
					<select name="tp_limit" class="form-control">
							<option value="4" {{ tp_limit == 4 ? 'selected="selected"' : '' }}>3</option>
							<option value="3" {{ tp_limit == 3 ? 'selected="selected"' : '' }}>4</option>
							<option value="2" {{ tp_limit == 2 ? 'selected="selected"' : '' }}>6</option> 
					</select>
				</div>
			</div>	
			<div class="form-group cell-lim">
				<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Вывод дополнительных изображений товара" data-original-title="Вывод дополнительных изображений товара">Доп. изображения</span></label>
				<div class="col-sm-2">
					<div class="btn-group on-off" data-toggle="buttons">
						<label class="btn btn-default btn-on {{ images_status == 1 ? 'active' : '' }}">
							<input value="1" type="radio" name="images_status" id="images_status-1" autocomplete="off" {{ images_status == 1 ? 'checked' : '' }}>Вкл.
						</label>
						<label class="btn btn-default btn-off {{ images_status == 0 ? 'active' : '' }}">
							<input value="0" type="radio" name="images_status" id="images_status-0" autocomplete="off" {{ images_status == 0 ? 'checked' : '' }}>Откл.
						</label>
					</div>
				</div>	
			</div>	
		  <div class="form-group cell-title" style="display:none">
			<label class="col-sm-2 control-label" for="input-title">Заголовок модуля</label>
			  <div class="col-sm-10">
				{% for language in languages %} 
				<div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span> {% set fieldName = "title" ~ language['language_id'] %} 
				<input type="text" name="title{{ language['language_id'] }}" value="{{ attribute(titles, fieldName)  is defined  ? attribute(titles, fieldName)  : '' }}" placeholder="Заголовок модуля" id="input-title{{ language['language_id'] }}" class="form-control" />
				</div>
				{% endfor %} 
			  </div>    
		  </div>	
			<div class="table">
				<table id="technics_product_tabs" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
					  <td class="text-left">Название блока товаров</td>
					  <td class="text-left">Источник товаров</td>
					  <td class="text-left">Сортировка товаров</td>
					  <td class="text-left">Лимит товаров</td>
					  <td class="text-left">Порядок сортировки</td>
					  <td></td>
					</tr>
				</thead>
				<tbody>
				{% set technics_product_tabs_row = 0 %} 
				{% for technics_product_tabs_row,product_tab in theme_technics_product_tabs %} 
					<tr id="technics_product_tabs-row{{ technics_product_tabs_row }}">
					<td class="text-left">
                			    {% for language in languages %} 
						<div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="Russian"></span>
							<input type="text" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][description][{{ language['language_id'] }}][name]" value="{{ theme_technics_product_tabs[technics_product_tabs_row]['description'][language['language_id']] is defined ? theme_technics_product_tabs[technics_product_tabs_row]['description'][language['language_id']]['name'] : '' }}" placeholder="Название" class="form-control">
						</div>
                			    {% endfor %} 
					</td>
					<td class="text-left">
						<select id="target-{{ technics_product_tabs_row }}-0" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][target]" class="form-control master-select-target" for="{{ technics_product_tabs_row }}">
                    							{% for key,target in theme_technics_product_tabs_targets %} 
                  								  {% if (key == theme_technics_product_tabs[technics_product_tabs_row]['target']) %} 
                								    <option value="{{ key }}" selected="selected">{{ target }}</option>
              									  {% else %} 
                 								    <option value="{{ key }}">{{ target }}</option>
                 								   {% endif %} 

                    							{% endfor %} 

						</select>
						<div id="select-target-{{ technics_product_tabs_row }}-1" {% if (product_tab['target'] != '1') %}style="display:none;"{% endif %} class="well-table select-target-{{ technics_product_tabs_row }}">			
						  <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" for="{{ technics_product_tabs_row }}" id="input-product" class="form-control" />
						  <div id="featured-product-{{ technics_product_tabs_row }}-1" class="well well-sm">
							{% for product in products[technics_product_tabs_row] %} 
							<div id="featured-product-{{ technics_product_tabs_row }}-{{ product['product_id'] }}"><i class="fa fa-minus-circle"></i> {{ product['name'] }} 
							  <input type="hidden" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][products][]" value="{{ product['product_id'] }}" />
							</div>
							{% endfor %} 
						  </div>						
						</div>	
						<div id="select-target-{{ technics_product_tabs_row }}-2"  {% if (product_tab['target'] != '2') %}style="display:none;"{% endif %} class="well-table select-target-{{ technics_product_tabs_row }}">			
						  <input type="text" name="category_name" value="" placeholder="{{ entry_category }}" for="{{ technics_product_tabs_row }}" id="input-category" class="form-control" />
						  <div id="featured-category-{{ technics_product_tabs_row }}-2" class="well well-sm">
						  	{% if (categories[technics_product_tabs_row] is defined) %} 
								{% for category in categories[technics_product_tabs_row] %} 
								<div id="featured-category-{{ technics_product_tabs_row }}-{{ category['category_id'] }}"><i class="fa fa-minus-circle"></i> {{ category['name'] }} 
								  <input type="hidden" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][categories][]" value="{{ category['category_id'] }}" />
								</div>
								{% endfor %} 
							{% endif %} 
						  </div>						
						</div>							
					</td>
					<td class="text-left">
						<select id="sortorder" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][sortorder]" class="form-control">
							{% for key,sortOrder in sorts %} 
                  				{% if (key == theme_technics_product_tabs[technics_product_tabs_row]['sortorder']) %} 
                					<option value="{{ key }}" selected="selected">{{ sortOrder }}</option>
              					{% else %} 
                 					<option value="{{ key }}" >{{ sortOrder }}</option>
                 				{% endif %} 

                    		{% endfor %} 
						</select>
					</td>
					<td class="text-left"><input type="text" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][limit]" value="{{ theme_technics_product_tabs[technics_product_tabs_row]['limit'] }}" placeholder="Лимит товаров" class="form-control"></td>
					<td class="text-left"><input type="text" name="theme_technics_product_tabs[{{ technics_product_tabs_row }}][sort]" value="{{ theme_technics_product_tabs[technics_product_tabs_row]['sort'] }}" placeholder="Сортировка" class="form-control"></td>
					<td class="text-right"><button type="button" onclick="$('#technics_product_tabs-row{{ technics_product_tabs_row }}').remove();" data-toggle="tooltip" title="" class="btn btn-danger" data-original-title="Удалить"><i class="fa fa-minus-circle"></i></button></td>
					</tr>

				{% endfor %} 
				</tbody>
				  <tfoot>
					<tr>
					  <td colspan="5"></td>
					  <td class="text-right">
					  <button type="button" onclick="addLinks();" data-toggle="tooltip" title="" class="btn addlinks btn-primary" data-original-title="Добавить ссылку"><i class="fa fa-plus-circle"></i></button>
					</td>
					</tr>
				  </tfoot>
				</table>
			  </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript"><!--
var technics_product_tabs_row = {{ technics_product_tabs_last_row }};

function addLinks() {

    html  = '<tr id="technics_product_tabs-row' + technics_product_tabs_row + '">';
	html += '  <td class="text-left">';
        	{% for language in languages %} 
	html += '  <div class="input-group"><span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="Russian"></span>';
	html += '  <input type="text" name="theme_technics_product_tabs[' + technics_product_tabs_row + '][description][{{ language['language_id'] }}][name]" value="" placeholder="Название" class="form-control">';
	html += '  </div>';
                {% endfor %} 
	html += '  </td>';
	html += '  <td class="text-left">';
	html += '  <select id="target-' + technics_product_tabs_row + '-0" name="theme_technics_product_tabs[' + technics_product_tabs_row + '][target]" class="form-control master-select-target" for="' + technics_product_tabs_row + '">';
		{% for key,target in theme_technics_product_tabs_targets %} 
	html += '  <option value="{{ key }}">{{ target }}</option>';
		{% endfor %} 
	html += '  </select>';
	html += '  <div id="select-target-' + technics_product_tabs_row + '-1" style="display:none;" class="well-table select-target-' + technics_product_tabs_row + '">';
	html += '  <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" for="' + technics_product_tabs_row + '" id="input-product" class="form-control" />';
	html += '  <div id="featured-product-' + technics_product_tabs_row + '-1" class="well well-sm">';
	html += '  </div>';
	html += '  </div>';
	html += '  </div>';
	html += '  <div id="select-target-' + technics_product_tabs_row + '-2" style="display:none;" class="well-table select-target-' + technics_product_tabs_row + '">';
	html += '  <input type="text" name="category_name" value="" placeholder="{{ entry_category }}" for="' + technics_product_tabs_row + '" id="input-category" class="form-control" />';
	html += '  <div id="featured-category-' + technics_product_tabs_row + '-2" class="well well-sm">';
	html += '  </div>';
	html += '  </div>';
	html += '  </div>';
	html += '  </td>';
	html += '  <td class="text-left">';
	html += '  <select id="sortorder" name="theme_technics_product_tabs[' + technics_product_tabs_row + '][sortorder]" class="form-control">';
		{% for key,sortOrder in sorts %} 
	html += '  <option value="{{ key }}" >{{ sortOrder }}</option>';
		{% endfor %} 
	html += '  </select>';
	html += '  </td>';
	html += '  <td class="text-left">';
	html += '  <input type="text" name="theme_technics_product_tabs[' + technics_product_tabs_row + '][limit]" value="6" placeholder="Лимит товаров" class="form-control">';
	html += '  </td>';
	html += '  <td class="text-left">';
	html += '  <input type="text" name="theme_technics_product_tabs[' + technics_product_tabs_row + '][sort]" value="0" placeholder="Сортировка" class="form-control">';
	html += '  </td>';
	html += '  <td class="text-right"><button type="button" onclick="$(\'#technics_product_tabs-row' + technics_product_tabs_row + '\').remove();" data-toggle="tooltip" title="Удалить" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
    html += '</tr>';

	$('#technics_product_tabs tbody').append(html);
	
	technics_product_tabs_row++;
	addAutocomplete();
}

//--></script>



  <script type="text/javascript"><!--


function addAutocomplete() {
  $('input[name=\'product_name\']').autocomplete({

	source: function(request, response) {

		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		var row = $(this).attr('for');
		$('input[name=\'product_name\']').val('');
				
		$('#featured-product-' + row + '-1').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="theme_technics_product_tabs['+ row +'][products][]" value="' + item['value'] + '" /></div>');	
	}
  });

  $('input[name=\'category_name\']').autocomplete({

	source: function(request, response) {

		$.ajax({
			url: 'index.php?route=catalog/category/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	select: function(item) {
		var row = $(this).attr('for');

		$('input[name=\'category_name\']').val('');
		
		$('#featured-category-' + row + '-2').append('<div id="featured-category' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="theme_technics_product_tabs['+ row +'][categories][]" value="' + item['value'] + '" /></div>');	
	}
  });
};

$(document).on('change', 'select[name=\'view\']', function() {
	var type = $('select[name=\'view\'] option:selected').val();
	if (type == 1) {
		$('.cell-lim, .cell-title').hide();
	}else if (type == 2) {
		$('.cell-title').hide();
		$('.cell-lim').show();
	}else {
		$('.cell-lim, .cell-title').show();
	}
});

function sortalter(event) {
	if (event.target !== undefined) {
		var e = event.target;
	}else{
		var e = event;
	}
	
	var type = e.value;
	var row = e.attributes.for.value;
	
	if (type == 4) {
		$('select[name = \'theme_technics_product_tabs['+row+'][sortorder]\'] option').each(function(key, value){
			if (value.value != 'p.sort_order' && value.value != 'random') {
				$(this).hide();
			}
		});
	}else{
		$('select[name = \'theme_technics_product_tabs['+row+'][sortorder]\'] option').each(function(key, value){
			$(this).show();
		});
	}
};

$(document).on('change', 'select.master-select-target', sortalter);

$('.well-sm').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});

$('#technics_product_tabs').on('change','.master-select-target', function() {
	var row = $(this).attr('for');
console.log(row);
	$('.select-target-'+row).hide();
	var sel = $(this).val();
	$('#select-target-'+row+'-'+sel).show();
});

$(document).ready(function() {
	addAutocomplete();
	if ($('select[name=\'view\'] option:selected').val() == '') {
		$('.cell-lim').show();
		$('.cell-title').show();
	} else if ($('select[name=\'view\'] option:selected').val() == 2) {
		$('.cell-lim').show();
	}
	$('select.master-select-target').each(
		function(indx, element){
		 sortalter(element);
		}
	);
});
	
//--></script>


</div>
{{ footer }} 
