{% if (articles) %} 
				<div class="media-col is-hidden is-lg-visible">
					<div class="media-col__head">
						<span class="h3 media-col__heading">
							{{ heading_title }}
						</span>
					</div>
				{% for article in articles %}
					<a class="other__item other__item--col" href="{{ article['href'] }}">
						<figure class="other__item-image"><img src="{{ article['thumb'] }}" alt="{{ article['name'] }}"></figure>
						<div class="other__item-desc">
							<span class="other__item-title">{{ article['name'] }}</span>
							<p style="max-height: 69px;overflow: hidden;padding: 0;">{{ article.description }}</p>
						</div>
					</a>
					{% endfor %}			
				</div>
{% endif %}		