        <!-- Slides :: Start-->
      <div class="slider">
        <div class="slides slides--width-{{ slide_width }}{% if scale %} slides--scale{% endif %} js-slick-slides" data-slick='{"autoplay": {{ autoplay ? "true" : "false"}},"autoplaySpeed": {{ autoplay*1000 }},"speed": {{ speed*100 }},"fade": {{ slide_fade ? "true" : "false"}}}'>
		    {% for i,banner1 in banners %} 
				{% for banner in banner1 %} 
					{% if (img_link) %} 
					  <div class="slides__item slides__item--{{ i }} {% if (banner['text_color'] == '1') %}slides__item--black{% endif %}">
					  {{ banner['link'] ? '<a href="' ~ banner['link'] ~ '">' : ''}}
						<figure class="slides__item-image" {{ banner['scale2'] ? 'data-padding-mob="'~ banner['scale2']|round(5) ~'"' : ''}} {{ scale ? 'data-padding="'~ scale|round(5)|round(5) ~'" style="padding-top:'~ scale|round(5) ~'%;"' : ''}}>
							{% if (banner['image2']) %} 
							<picture>
								<source {{ lazyload ? 'srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy-srcset' : 'srcset' }}="{{ banner['image2'] }}" media="(max-width: 767px)">
								<source {{ lazyload ? 'srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy-srcset' : 'srcset' }}="{{ banner['image'] }}">       
								<img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="' : 'src="'~ banner['image'] ~'"' }} alt="{{ banner['slider_text'] }}">
							</picture>
							{% else %}
							<img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ banner['image'] }}" alt="{{ banner['slider_text'] }}">
							{% endif %}
						</figure>
						<div class="container-fluid">
						  <div class="slides__item-desc">
							<span class="h2 slides__item-title">{{ banner['title'] }}</span>
							<p class="slides__item-price">{{ banner['slider_text'] }}</p>
							{% if (banner['btn_text']) %} 
							<span class="btn btn--sm {% if (banner['text_color'] == '1') %}btn--black{% else %}btn--white{% endif %}">{{ banner['btn_text'] }}</span>
							{% endif %} 
						  </div>
						</div>
							{{ banner['link'] ? '</a>' : ''}}
					  </div>
								{% else %} 
					  <div class="slides__item slides__item--{{ i }} {% if (banner['text_color'] == '1') %}slides__item--black{% endif %}">
						<figure class="slides__item-image" {{ banner['scale2'] ? 'data-padding-mob="'~ banner['scale2']|round(5) ~'"' : ''}} {{ scale ? 'data-padding="'~ scale|round(5)|round(5) ~'" style="padding-top:'~ scale|round(5) ~'%;"' : ''}}>
							{% if (banner['image2']) %} 
							<picture>
								<source {{ lazyload ? 'srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy-srcset' : 'srcset' }}="{{ banner['image2'] }}" media="(max-width: 767px)">
								<source {{ lazyload ? 'srcset="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy-srcset' : 'srcset' }}="{{ banner['image'] }}">       
								<img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="' : 'src="'~ banner['image'] ~'"' }} alt="{{ banner['slider_text'] }}">
							</picture>
							{% else %}
							<img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ banner['image'] }}" alt="{{ banner['slider_text'] }}">
							{% endif %}
						</figure>
						<div class="container-fluid">
						  <div class="slides__item-desc">
							<span class="h2 slides__item-title">{{ banner['title'] }}</span>
							<p class="slides__item-price">{{ banner['slider_text'] }}</p>
							{% if (banner['link'] and banner['btn_text']) %} 
							<a class="btn btn--sm {% if (banner['text_color'] == '1') %}btn--black{% else %}btn--white{% endif %}" href="{{ banner['link'] }}">{{ banner['btn_text'] }}</a>
							{% endif %} 
						  </div>
						</div>
					  </div>
					{% endif %} 
				{% endfor %} 
  		    {% endfor %} 
        </div>
      </div>
        <!-- Slides :: End-->