	{% if (blogs is not empty) %}
	<!-- Media :: Start-->
        <div class="media">
          <div class="container-fluid">
            <div class="media__head" {% if not blog_href %}style="margin: 0 7.0rem 0 0;"{% endif %}>
              <span class="h2 media__heading">{{ heading_title }}</span>{% if blog_href %}<a class="media__link" href="{{ blog_href }}">{{ text_all_blogs }}</a>{% endif %}
            </div>
            <div class="media__slides js-slick-media" {% if not blog_href %}data-slick='{"arrows": true}' style="margin: 0;padding: 0"{% endif %}>
			{% for i,blog in blogs %}
      {% if i is odd %}
			  <a class="media__item media__item--bg" href="{{ blog['href'] }}">
      {% else %}
        <a class="media__item" href="{{ blog['href'] }}">
      {% endif %}
        {% if i is odd %}
				  <figure class="media__item-image"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ blog['image'] }}" alt="{{ blog['title'] }}"></figure>
        {% endif %}
                <div class="media__item-in"><span class="media__item-date">{{ blog['date_added'] }}</span>
                  <span class="h3 media__item-title">
                    <u>{{ blog['title'] }}</u>
                  </span>
				  <p class="media__item-text">{{ blog['description'] }}</p>
                </div>
			</a>
			{% endfor %}
			</div>
          </div>
        </div>
     <!-- Media :: End-->
    {% endif %}