{% if (products is not empty) %} 
        <div class="writeus"><span class="writeus__heading">{{ text_popup_package_title }}</span>
				
				<div class="products__grid" style="margin-bottom: 6.0rem;">
					<div class="js-set-popup row" data-for="{{ set_id }}">
								{% for product in products %} 
                        <div class="col-6 col-xl-3">
                        <div class="products__item{% if (category_time and product['special'] and product['special_date_end']) %} products__item--countdown{% endif %}">
                          <div class="products__item-in js-add-toset" data-for="{{ for_product }}" data-qty="{{ product['quantity'] }}">
						{% if (category_time and product['special'] and product['special_date_end']) %}
							{% if (product['special'] and product['sales']) %}
								<mark class="products__item-discount">{{ '<small>' ~ labelsinfo['sale']['name'][language_id] ~ '</small>' ~ product['discount'] }}</mark>
							{% endif %}
						{% endif %}
                        <a data-for="{{ product['product_id'] }}" class="products__item-replace js-set-item-add">
                          <svg class="icon-replace">
                            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-replace"></use>
                          </svg>{{ text_item_add }}
                        </a>
						  <div class="products__item-stickers {{ category_time and product['special'] and product['special_date_end'] ? 'products__item-stickers--top' : ''}}">
						  {% if (product['rating'] != constant('false')) %}
							<div class="products__item-rating">
								<svg class="icon-star">
									<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-star"></use>
								</svg>{{ product['rating'] }}/5
							</div>
							{% endif %}
							{% if (product['isnewest']) %} 
								<mark class="products__item-mark products__item-mark--new">{{ labelsinfo['new']['name'][language_id] }}</mark>
							{% endif %} 
							{% if ((product['special'] and product['sales']) and not (category_time and product['special_date_end'])) %} 
								<mark class="products__item-mark products__item-mark--sale">{{ labelsinfo['sale']['name'][language_id] ~ ' ' ~ product['discount'] }}</mark>
							{% endif %} 
							{% if (product['popular']) %} 
								<mark class="products__item-mark products__item-mark--popular">{{ product['popular'] }}</mark>
							{% endif %} 
							{% if (product['hit']) %} 
								<mark class="products__item-mark products__item-mark--hit">{{ product['hit'] }}</mark>
							{% endif %} 
							{% if (product['catch']) %} 
								{% if (product['nocatch']) %} 
									<mark class="products__item-mark products__item-mark--nocatch">{{ product['catch'] }}</mark>
								{% else %} 
									<mark class="products__item-mark products__item-mark--catch">{{ product['catch'] }}</mark>
								{% endif %} 
							{% endif %} 
							{% if (product['reward']) %} 
								<mark class="products__item-mark products__item-mark--reward">{{ text_reward }} {{ product['reward'] }}</mark>
							{% endif %} 
						  </div>
						  <div class="products__item-images"><a href="{{ product['href'] }}"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a></div>
						  <div class="products__item-desc">
						  {% if (product['manufacturer']) %} 
						  <span class="products__item-category">{{ product['manufacturer'] }}</span>
						  {% endif %}
						  <a href="{{ product['href'] }}" class="products__item-title">{{ product['name'] }}</a>
						  <span class="products__item-price">
							{% if (product['price']) %} 
								{% if (product['special']) %} 
									<u>{{ product['price'] }}</u>{{ product['special'] }} {% if (product['quantity'] > 1) %} <span> x {{ product['quantity'] }} {{ text_quantity }}</span>{% endif %} 
								{% else %} 
									{{ product['price'] }} {% if (product['quantity'] > 1) %} <span> x {{ product['quantity'] }} {{ text_quantity }}</span>{% endif %} 
								{% endif %}
							{% endif %} 
						  </span>	
							  {% if (category_time and product['special'] and product['special_date_end']) %}
							  <div class="products__item-countdown">
								<div class="countdown">
								  <p class="countdown__text">{{ time_text_1 }} <small>{{ time_text_2 }}</small></p>
								  <time class="countdown__time js-countdown-time" data-text-countdown="{{ text_countdown }}">{{ product['special_date_end'] }}</time>
								</div>
							  </div>
							  {% endif %}
							<div class="products__item-action">
								<button type="button" class="btn btn--cart" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');" {{ product['buy_btn'] ? 'disabled' : ''}}>{{ button_cart }}
								<svg class="icon-cart">
								  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-cart"></use>
								</svg></button>
								<a data-for="{{ product['product_id'] }}" title="{{ text_product_view_btn }}" class="btn btn--preview" href="#">
                                <svg class="icon-preview">
                                  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-preview"></use>
                                </svg></a>
							</div>
						  </div>
                          </div>
                        </div>
                        </div>
								{% endfor %}			

						</div>
					</div>
				</div>
{% else %} 
no products
{% endif %}	