        <!-- Seo :: Start-->
        <div class="seo">
          <div class="container-fluid">
            <div class="row">
			{% if (img or heading_title) %}
              <div class="col-md-4 col-xl-3 offset-xl-1">
			    <div class="seo__logo">
                {% if (img) %}<img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ img }}" alt="{{ heading_title }}">{% endif %}
                {% if (heading_title) %}<h1>{{ heading_title }}</h1>{% endif %}
			    </div>
              </div>
			{% endif %}
              <div class="{{ img or heading_title ? 'col-md-8 col-xl-7' : 'col-md-12 col-xl-12' }} ">
                <div class="sea__readmore " data-more="{{ text_readmore_more }}" data-less="{{ text_readmore_less }}">
                  {{ html }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Seo :: End-->