        <!-- Category :: Start-->
        <div class="category">
          <div class="container-fluid">
		{% if (title) %} 
            <div class="category__head">
              <span class="h2 category__heading">{{ title }}</span>
            </div>
		{% endif %}
		{% if not (view) %}
            <div class="category__grid">
              <div class="row">
				{% for category in categories %} 
                <div class="col-6 col-sm-6 col-lg-3 col-xl-3"><a class="category__item" href="{{ category['href'] }}">
                    <figure class="category__item-image"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ category['thumb'] }}" alt="{{ category['name'] }}"></figure>
                    <span class="h3 category__item-title">{{ category['name'] }}</span></a>
				</div>
				{% endfor %}
              </div>
            </div>
		{% else %} 
            <div class="category__slides js-slick-category">
				{% for category in categories %}
				<a class="category__item" href="{{ category['href'] }}">
					<figure class="category__item-image"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ category['thumb'] }}" alt="{{ category['name'] }}"></figure>
					<span class="h3 category__item-title">{{ category['name'] }}</span>
				</a>
				{% endfor %}
			</div>
		{% endif %}
          </div>
        </div>
        <!-- Category :: End-->