        <!-- Category :: Start-->
        <div class="category">
          <div class="container-fluid">
		  {% if title %}
            <div class="category__head">
              <span class="h2 category__heading">{{ title }}</span>
            </div>
			{% endif %}
            <div class="category__grid">
              <div class="row">
				{% for banner1 in banners %}
					{% for banner in banner1 %} 
                <div class="col-12 col-sm-6 col-lg-{{ banner['full'] ? column*2 : column}} col-xl-{{ banner['full'] ? column*2 : column}}">
				{% if (banner['link']) %}
				<a class="category__item" href="{{ banner['link'] }}">
                    <figure class="category__item-image"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ banner['image'] }}" alt="{{ banner['title'] }}"></figure>
                    <span class="h3 category__item-title">{{ banner['title'] }}</span>
				</a>
				{% else %}
                    <figure class="category__item-image"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ banner['image'] }}" alt="{{ banner['title'] }}"></figure>
                    <span class="h3 category__item-title">{{ banner['title'] }}</span>
				{% endif %}
				</div>
					{% endfor %} 
				{% endfor %} 
              </div>
            </div>
          </div>
        </div>
        <!-- Category :: End-->