	{% if (newss is not empty) %}
	<!-- Media :: Start-->
        <div class="media">
          <div class="container-fluid">
            <div class="media__head">
              <span class="h2 media__heading">{{ heading_title }}</span><a class="media__link" href="{{ news_href }}">{{ text_all_news }}</a>
            </div>
            <div class="media__slides js-slick-media">
			{% for news in newss %}
			<a class="news__item" href="{{ news['href'] }}">
				<span class="h2 news__item-title">{{ news['title'] }}</span>
				<p class="news__item-text">{{ news['description'] }}</p>
				<span class="news__item-time">{{ news['date_added'] }}</span>
			</a>
			{% endfor %}
			</div>
          </div>
        </div>
     <!-- Media :: End-->
    {% endif %}