{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
      <!-- Main :: Start-->
      <main class="main">
        <!-- Breadcrumbs :: Start-->
        <div class="breadcrumbs">
          <div class="container-fluid">
            <ul class="breadcrumbs__menu">
			{% for i,breadcrumb in breadcrumbs %}
				{% if (i + 1 < (breadcrumbs)|length) %} 
				<li><a class="breadcrumbs__link" href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
				{% else %} 
				<li>{{ breadcrumb['text'] }}</li>
				{% endif %}
			{% endfor %}
            </ul>
          </div>
        </div>
        <!-- Breadcrumbs :: End-->
		{{ content_top }}
        <!-- Page :: Start-->
        <div class="page">
          <div class="container-fluid">
            <h1 class="page__heading">{{ heading_title }}</h1>
            <div class="row">
			{{ column_left ? '<div id="column-left" class="col-xl-3">' ~ column_left ~ '</div>' : ''}}
			<div class="col-xl-{{ col }}">
                <div class="blog__grid">
                  <div class="row">
								{% set s = 1 %} 
								{% for blog in blogs %} 
                    <div class="{{ (s == 1) ? 'col-12' : 'col-sm-6 col-lg-4'}}">
					<a class="blog__item {{ (s == 1) ? 'blog__item--primary' : ''}}" href="{{ blog['href'] }}">
                        <figure class="blog__item-image"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ (s == 1) ? blog['image_3x'] : blog['image'] }}" alt="{{ blog['title'] }}">
						{% if (blog['blogcat'] is not empty) %}
                          <div class="blog__item-tags"><span class="blog__item-tags-item">{{ blog['blogcat']['name'] }}</span></div>
						{% endif %}
                          <div class="blog__item-numbers">{% if (blog['commenrtsenable']) %}<span class="blog__item-numbers-item">
                              <svg class="icon-numbers-comments">
                                <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-numbers-comments"></use>
                              </svg>{{ blog['commentcount'] }}</span>{% endif %}<span class="blog__item-numbers-item">
                              <svg class="icon-numbers-views">
                                <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-numbers-views"></use>
                              </svg>{{ blog['viewed'] }}</span></div>
						</figure>
                        <span class="h3 blog__item-title">{{ blog['title'] }}</span>
                        <p class="blog__item-text">{{ blog['description'] }}</p>
						<span class="blog__item-time">
							{{ blog['date_added'] }}
						</span>
					</a>
					</div>
									{% set s = s + 1 %} 
								{% endfor %} 
                  </div>
                </div>
				<div class="container-pagination">
					{{ pagination }}
				</div>
				{% if (category_description is defined) %} 
                <div class="sea__readmore js-readmore" data-more="{{ text_readmore_more }}" data-less="{{ text_readmore_less }}">
							<div class="editor">
								{{ category_description }} 
							</div>
                </div>
				{% endif %}	
			</div>
			{{ column_right ? '<div id="column-right" class="col-xl-3">' ~ column_right ~ '</div>' : ''}}
            </div>
          </div>
        </div>
        <!-- Page :: End-->
		{{ content_bottom }}
      </main>
      <!-- Main :: End-->
{{ footer }}
{% if schema %} 
<!-- Schema Org :: Start-->
<script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
			{% for i,breadcrumb in breadcrumbs %}
			{
              "@type": "ListItem",
              "position": {{ i + 1 }},
              "item": {
                "@id": "{{ breadcrumb['href'] }}",
                "name": "{{ breadcrumb['text'] }}"
              }
            }{% if (i + 1 < breadcrumbs|length) %},{% endif %}
			{% endfor %}
			]
          }
</script>
 <!-- Schema Org :: End-->
{% endif %}
</body></html>