{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
      <!-- Main :: Start-->
      <main class="main">
        <!-- Breadcrumbs :: Start-->
        <div class="breadcrumbs">
          <div class="container-fluid">
            <ul class="breadcrumbs__menu">
			{% for i,breadcrumb in breadcrumbs %}
				{% if (i + 1 < (breadcrumbs)|length) %} 
				<li><a class="breadcrumbs__link" href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
				{% else %} 
				<li>{{ breadcrumb['text'] }}</li>
				{% endif %}
			{% endfor %}
            </ul>
          </div>
        </div>
        <!-- Breadcrumbs :: End-->
		{{ content_top }}
       <!-- Article :: Start-->
        <article class="article">
          <div class="container-fluid">
            <div class="row">
			{{ column_left ? '<div id="column-left" class="col-xl-3">' ~ column_left ~ '</div>' : ''}}
			<div class="col-xl-{{ col == 12 ? 8 : col }}">
			<span class="article__time">{{ date_added }}</span>
			 <h1 class="article__heading">{{ heading_title }}</h1>
				<div class="editor">
					{{ description }}
				</div>
			</div>
			{{ column_right ? '<div id="column-right" class="col-xl-3">' ~ column_right ~ '</div>' : ''}}
            </div>
          </div>
        </article>
        <!-- Article :: End-->
		{% if (products) %} 
        <!-- Products :: Start-->
        <div class="products products--recomended">
          <div class="container-fluid">
            <span class="h2 products__heading">{{ text_related }}</span>
            <div class="products__slides js-slick-recomended">
			  {% for product in products %}
              <div class="products__item">
                <div class="products__item-in">
                  <div class="products__item-buttons">
				  <a class="btn btn--blog" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');">
                      <svg class="icon-blog">
                         <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-blog"></use>
                      </svg></a>
				  <a class="btn btn--like" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');">
                      <svg class="icon-like">
                        <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-like"></use>
                      </svg></a>
				  </div>
				  <div class="products__item-stickers">
				  {% if (product['rating'] != constant('false')) %}
					<div class="products__item-rating">
						<svg class="icon-star">
							<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-star"></use>
						</svg>{{ product['rating'] }}/5
					</div>
					{% endif %}
					{% if (product['isnewest']) %} 
						<mark class="products__item-mark products__item-mark--new">{{ labelsinfo['new']['name'][language_id] }}</mark>
					{% endif %} 
					{% if (product['special'] and product['sales']) %} 
						<mark class="products__item-mark products__item-mark--sale">{{ labelsinfo['sale']['name'][language_id] ~ ' ' ~ product['discount'] }}</mark>
					{% endif %} 
					{% if (product['popular']) %} 
						<mark class="products__item-mark products__item-mark--popular">{{ product['popular'] }}</mark>
					{% endif %} 
					{% if (product['hit']) %} 
						<mark class="products__item-mark products__item-mark--hit">{{ product['hit'] }}</mark>
					{% endif %} 
					{% if (product['catch']) %} 
						{% if (product['nocatch']) %} 
							<mark class="products__item-mark products__item-mark--nocatch">{{ product['catch'] }}</mark>
						{% else %} 
							<mark class="products__item-mark products__item-mark--catch">{{ product['catch'] }}</mark>
						{% endif %} 
					{% endif %} 
				  </div>
				  {% if (not product['images']) %} 
					<div class="products__item-images"><a href="{{ product['href'] }}"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a></div>
				  {% else %}
				  <div class="products__item-images js-slick-products">
					<a href="{{ product['href'] }}"><img data-lazy="{{ product['thumb'] }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ product['name'] }}"></a>
					{% for imageX in product['images'] %} 
						<a href="{{ product['href'] }}"><img data-lazy="{{ imageX }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ product['name'] }}"></a>
				  {% endfor %} 
				  </div>
				  {% endif %}
                  <div class="products__item-desc">
				  {% if (product['manufacturer']) %} 
				  <span class="products__item-category">{{ product['manufacturer'] }}</span>
				  {% endif %}
				  <a href="{{ product['href'] }}" class="products__item-title">{{ product['name'] }}</a>
				  <span class="products__item-price">
					{% if (product['price']) %} 
						{% if (product['special']) %} 
							<u>{{ product['price'] }}</u>{{ product['special'] }} 
						{% else %} 
							{{ product['price'] }}
						{% endif %}
					{% endif %} 
				  </span>		
							<div class="products__item-action">
								<button type="button" class="btn btn--cart" title="{{ button_cart }}" onclick="cart.add('{{ product['product_id'] }}', '{{ product['minimum'] }}');" {{ product['buy_btn'] ? 'disabled' : ''}}>{{ button_cart }}
								<svg class="icon-cart">
								  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-cart"></use>
								</svg></button>
								<a data-for="{{ product['product_id'] }}" title="{{ text_product_view_btn }}" class="btn btn--preview js-btn-preview" href="#popupprod">
                                <svg class="icon-preview">
                                  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-preview"></use>
                                </svg></a>
							</div>
                  </div>
                </div>
              </div>
			  {% endfor %}
            </div>
          </div>
        </div>
		{% endif %} 
        <!-- Products :: End-->
		{{ content_bottom }}
      </main>
      <!-- Main :: End-->
{{ footer }}
{% if schema %} 
<!-- Schema Org :: Start-->
<script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
			{% for i,breadcrumb in breadcrumbs %}
			{
              "@type": "ListItem",
              "position": {{ i + 1 }},
              "item": {
                "@id": "{{ breadcrumb['href'] }}",
                "name": "{{ breadcrumb['text'] }}"
              }
            }{% if (i + 1 < breadcrumbs|length) %},{% endif %}
			{% endfor %}
			]
          }
</script>
 <!-- Schema Org :: End-->
{% endif %}
</body></html>