<!doctype html>
<html dir="{{ direction }}" lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="MobileOptimized" content="380">
    <base href="{{ base }}">
    <title>{{ title }}</title>

{% if noindex %}
<!-- OCFilter Start -->
<meta name="robots" content="noindex,nofollow" />
<!-- OCFilter End -->
{% endif %}
      
    <meta name="theme-color" content="#{% if (theme_color) %}{{ theme_color_2 }}{% else %}3660BC{% endif %}">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
{% if robots %}
		<meta name="robots" content="{{ robots }}" />
{% endif %}
{% if (description) %} 
		<meta name="description" content="{{ description }}">
{% endif %} 
{% if (keywords) %} 
		<meta name="keywords" content= "{{ keywords }}">
{% endif %} 
{% if (google_site_verification) %} 
		<meta name="google-site-verification" content="{{ google_site_verification }}">
{% endif %} 
{% if (yandex_verification) %} 
		<meta name="yandex-verification" content="{{ yandex_verification }}">
{% endif %} 
{% if (fav_180) %} 
		<link rel="apple-touch-icon" sizes="180x180" href="{{ fav_180 }}">
{% endif %} 
{% if (fav_32) %} 
		<link rel="icon" type="image/png" href="{{ fav_32 }}" sizes="32x32">
{% endif %} 
{% if (fav_16) %} 
		<link rel="icon" type="image/png" href="{{ fav_16 }}" sizes="16x16">
{% endif %} 
{% if (open_graph) %} 
		<meta property="og:title" content="{{ title }} {% if (_GET['page'] is defined) %} {{ " - "~ _GET['page']~" "~text_page }}{% endif %}" />
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ og_url }}">
{% if (og_image) %} 
		<meta property="og:image" content="{{ og_image }}">
{% else %} 
		<meta property="og:image" content="{{ logo }}">
{% endif %} 
		<meta property="og:site_name" content="{{ name }}">
{% endif %} 

{% if (fontawesome == 1) %} 
	<link rel="stylesheet" href="catalog/view/theme/technics/css/fontawesome/svg-with-js.min.css{{ '?v'~version }}">
{% elseif (fontawesome == 2) %}
	<link rel="stylesheet" href="catalog/view/theme/technics/css/fontawesome/4.7.0/css/font-awesome.min.css{{ '?v'~version }}">
{% endif %}
	<link rel="stylesheet" href="catalog/view/theme/technics/css/bootstrap/{{ bootstrap_ver ? '4.4.1' : '3.3.5' }}/bootstrap.min.css{{ '?v'~version }}">
	<link rel="stylesheet" href="catalog/view/theme/technics/css/app.min.css{{ '?v'~version }}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family={{ fonts }}:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" media="screen and (min-width: 767px)">
{% for style in styles %} 
	<link href="{{ style['href'] }}" type="text/css" rel="{{ style['rel'] }}" media="{{ style['media'] }}">
{% endfor %} 
<style>
:root {font-size: 10px; } @media (max-width: 479px) {:root {font-size: 9px; }}
.app {overflow: hidden;position: relative;min-height: 100%;}
body {font: 400 1.4rem/1.714 "{{fonts|replace({'+': ' '})}}", Helvetica, Arial, als_rublregular, sans-serif;}
button,input,optgroup,select,textarea,.fancybox-container {font-family: "{{fonts|replace({'+': ' '})}}", Helvetica, Arial, als_rublregular, sans-serif;}
{% if (theme_color) %} 
/* {{ theme_color_1 }} {{ theme_color_2 }} {{ theme_color_3 }} {{ theme_color_4 }} {{ theme_color_5 }} */
a,mark,.btn--copy:hover,.btn--blog:hover,.btn--preview:hover,.btn--preview:focus,.btn--dashed,.btn--link,.btn--transparent,.ui-check:hover,.ui-number .jq-number__spin:hover,.fancybox-close-small:hover,.popup__close:hover,.signin__close:hover,.slides .slick-arrow:hover,.products__sorting-btn,.products__item-price,.products__line-price,.products__line-buttons .btn--blog:hover,.products__micro-price,.products__tabs-btn,.media__item-title,.category__item:hover,.info__item svg,.sku__close:hover,.sku__thumbs-video,.sku__rating mark,.other__item-price,.details__tabs-btn,.comments__heading mark,.comments__statistic-count,.tabs__btn,.options__link, .options__btn,.catalog__nav-link:hover, .catalog__nav-link.is-active,.checkout__accordion dt,.checkout__basket-title,.offices__panel .ui-select .jq-selectbox__select,.personal__nav-link:hover,.personal__nav-link.is-active,.brands__item-link,.compare__column-item-price,.nav__topline-sublink,.nav__topbar-sublink,.search__btn:hover,.phone__link,.cart__item-title a,.nav__priority-dropdown .nav__link,.is-open > .nav__link,.is-open > .nav__link:not([href]):not([tabindex]),.is-open > .nav__link:not([href]):not([tabindex]):hover, .is-open > .nav__priority-toggle,.nav__promo-slides .slick-arrow:hover,.footer__social-link,.footer--v6 .footer__middle .nav-categories__link,.footer--v6 .footer__middle .footer__social-link:hover,.link, .sku__brand a,.link-underline, .sorting__link, .media__link, .category__link, .seo__readmore-link, .breadcrumbs__link, .reviews__link, .reviews__item-link,.footer__phone-link,.link-dashed, .products__status-link, .sku__status-link,.modal-header .close:hover,.blog__nav-link,.search__input,.subsc-min__btn,.footer__questions-link,.products__item-images .slick-arrow:hover,.products__line-images .slick-arrow:hover,.products__micro-images .slick-arrow:hover{
  color: #{{ theme_color_2 }};}
.search__input:-ms-input-placeholder{
  color: #{{ theme_color_2 }};}
.search__input::placeholder{
  color: #{{ theme_color_2 }};}
@media (max-width: 767px) {
.header--v1 .acc .acc__btn.is-active,.header--v1 .lang .lang__btn.is-active,.header--v1 .wallet .wallet__btn.is-active,.header--v2 .acc .acc__btn.is-active,.header--v2 .lang .lang__btn.is-active,.header--v2 .wallet .wallet__btn.is-active,.header--v4 .acc .acc__btn.is-active,.header--v4 .lang .lang__btn.is-active,.header--v4 .wallet .wallet__btn.is-active,.header--v5 .acc .acc__btn.is-active,.header--v5 .lang .lang__btn.is-active,.header--v5 .wallet .wallet__btn.is-active,.header--v6 .acc .acc__btn.is-active,.header--v6 .lang .lang__btn.is-active,.header--v6 .wallet .wallet__btn.is-active,.header--v8 .acc .acc__btn.is-active,.header--v8 .lang .lang__btn.is-active,.header--v8 .wallet .wallet__btn.is-active,.header--v9 .acc .acc__btn.is-active,.header--v9 .lang .lang__btn.is-active,.header--v9 .wallet .wallet__btn.is-active,.header--v10 .acc .acc__btn.is-active,.header--v10 .lang .lang__btn.is-active,.header--v10 .wallet .wallet__btn.is-active{
  color: #{{ theme_color_2 }};}
}
@media (min-width: 480px) {
.products__item--dual .products__item-title{
  color: #{{ theme_color_2 }};}
}
.btn--transparent:hover,.btn--transparent:focus,.ui-check__input:checked ~ .ui-check__checkbox,.products__item-mark--new,.products__line-mark--new,.products__micro-mark--new,.pagination > li.active > a:after,.pagination > li.active > span:after,.tabs__btn.is-active:after,.options__dropdown > li:hover,.catalog__nav-menu > li.is-active > .catalog__nav-link,.contacts__item-icon,.blog__nav-link:hover,.article__tags-item:hover,.tags__btn:hover,.cart__counter,.nav,.ctrl-v6__btn-counter,.ctrl-v4__btn-counter,.header--service,.subsc__btn,.irs-bar,.irs-handle,.nav__topline-sublink:hover,.nav__topbar-sublink:hover,.nav__priority-dropdown li.is-open > .nav__link:not(.nav__link--arrow), .nav__priority-dropdown li.is-open > .nav__list-link,.nav__list-link:not(.nav__list-link--arrow):hover{
  background: #{{ theme_color_2 }};}
.btn--transparent:hover,.btn--transparent:focus,.ui-range__input:focus,.ui-check__input:checked ~ .ui-check__radio,.ui-check__input:checked ~ .ui-check__checkbox,.options__dropdown > li:hover [class^="icon-view"]:after, .options__dropdown > li:hover [class^="icon-view"]:before,.offices__panel .ui-select .jq-selectbox__trigger-arrow,.personal__nav-link.is-active,.nav__priority-dropdown li.is-open > .nav__link--arrow:after, .nav__priority-dropdown li.is-open > .nav__list-link--arrow:after,.header--v9 .nav .nav__priority-toggle:after,.subsc-min__input:focus,.nav__list-link--arrow:hover:after{
  border-color: #{{ theme_color_2 }};}
.irs-handle.state_hover, .irs-handle:hover{
  box-shadow: inset 0 0 0 .2rem #{{ theme_color_2 }};}
.products__item-replace .icon-replace,.products__item-replace:hover,.reviews__slides--catalog .slick-arrow:hover,.compare__nav-prev:hover, .compare__nav-next:hover,.compare__column-add:hover,.compare__column-item-delete .icon-delete-compare,.compare__column-item-delete:hover{
  color: #{{ theme_color_1 }};}
.btn--white:hover,.btn--white:focus,.btn--blue,.btn--cart,.ui-size__input:checked ~ .ui-size__btn,.ui-select.opened .jq-selectbox__trigger,.ui-select .jq-selectbox__dropdown li:hover,.app-notice__btn:hover,.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.products__slides > .slick-arrow:hover,.set__slides > .slick-arrow:hover,.media__slides > .slick-arrow:hover,.sku__thumbs .slick-arrow:hover,.other__slides .slick-arrow:hover,.filter__back:hover,.filter__clear:hover,.reviews__slides--homepage > .slick-arrow:hover,.compare__column-add-icon,.cart__back:hover,.cart__clear:hover,.nav__list-close:hover,#collapse-shipping-method .btn.btn-primary,.scroll-to-top:hover,.btn--black:hover,.btn--black:focus,.app-chats__toggle,.slick-dots li button:hover:before,.slick-dots li button:focus:before{
  background: #{{ theme_color_1 }};}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover,.bootstrap-datetimepicker-widget table td span.active,s.bootstrap-datetimepicker-widget table td.today:before {
  background-color: #{{ theme_color_1 }};}
.btn--white:hover,.btn--white:focus,.ui-size__input:checked ~ .ui-size__btn,.ui-size__btn:hover,.slick-current .sku__thumbs-item,.slick-current .sku__thumbs-video,.sku__thumbs-item:hover,.filter__clear:hover,.cart__clear:hover,.btn--black:hover,.btn--black:focus{
  border-color: #{{ theme_color_1 }};}
a:hover,.btn--link:hover,.btn--dashed:hover,.btn--dashed:focus,.products__sorting-btn:hover,.products__tabs-btn:hover,.media__item:not(.media__item--bg):hover .media__item-title,.sku__thumbs-video:hover,.tabs__btn:hover,.options__link:hover, .options__btn:hover,.brands__item-link:hover,.phone__btn:hover,.phone__link:hover,.acc__btn:hover,.lang__btn:hover,.wallet__btn:hover,.cart__item-title a:hover,.header--v1 .search .search__close:hover,.header--v2 .search .search__close:hover,.header--v3 .search .search__close:hover,.header--v4 .search .search__close:hover,.header--v6 .search .search__close:hover,.header--v7 .search .search__close:hover,.header--v1 .search .search__send:hover,.header--v2 .search .search__send:hover,.header--v3 .search .search__send:hover,.header--v4 .search .search__send:hover,.header--v6 .search .search__send:hover,.header--v7 .search .search__send:hover,.subsc-min__btn:hover,.footer__social--icons .footer__social-link:hover,.footer__social-link:hover,.footer__nav .footer__phone-link:hover,.footer--v6 .footer__middle .nav-categories__link:hover,.link:hover, .sku__brand a:hover,.link-underline:hover, .sorting__link:hover, .media__link:hover, .category__link:hover, .seo__readmore-link:hover, .breadcrumbs__link:hover, .reviews__link:hover, .reviews__item-link:hover, .footer__phone-link:hover,.link-dashed:hover, .products__status-link:hover, .sku__status-link:hover{
  color: #{{ theme_color_3 }};}
.pagination > li > span:after,.tabs__btn:hover:after,.subsc__btn:hover,.app-chats__toggle:hover,.pagination > li > a:after, .pagination > li > span:after{
  background: #{{ theme_color_3 }};}
.cart__clear:hover,.system__social-link:hover{
  border-color: #{{ theme_color_3 }};}
.search__input:focus,.header--v1 .search .search__input:focus,.header--v2 .search .search__input:focus,.header--v3 .search .search__input:focus,.header--v4 .search .search__input:focus,.header--v6 .search .search__input:focus,.header--v7 .search .search__input:focus,.nav__priority-toggle:after,.nav__link--arrow:after {
  border-bottom-color: #{{ theme_color_3 }};}
.nav__priority-toggle:after,.nav__link--arrow:after{
  border-right-color: #{{ theme_color_3 }};}
.ui-input:focus, .ui-textarea:focus, .ui-select .jq-selectbox__select:focus,.ui-check:hover .ui-check__radio, .ui-check:hover .ui-check__checkbox,.cart__counter:after,.ctrl-v6__btn-counter:after,.ctrl-v4__btn-counter:after{
  border-color: rgba({{ theme_color_4 }}); /* {{ theme_color_2 }} 0.5 */ }
.btn--dashed span,.products__sorting-btn,.media__item-title u,.phone__link,.link--underline, .sku__brand a,.link--dashed,.link-underline, .sorting__link, .media__link, .category__link, .seo__readmore-link, .breadcrumbs__link, .reviews__link, .reviews__item-link, .footer__phone-link,.link-dashed, .products__status-link, .sku__status-link{
  border-bottom-color: rgba({{ theme_color_5 }}); /* {{ theme_color_2 }} 0.1 */ }
.footer__nav .footer__phone-link:hover{
  border-color: rgba({{ theme_color_5 }}); /* {{ theme_color_2 }} 0.1 */ }
{% endif %}

{% if (theme_fc_color) %} 
/* {{ theme_fc_color_1 }} {{ theme_fc_color_2 }} {{ theme_fc_color_3 }} */
.app--v7 .slider,.header--v7.header,.app--v8 .slider,.header--v8.header,.header--v8 .nav,.cart__btn:after,.ctrl-v6__btn:after,.ctrl-v4__btn:after {
  background: #{{ theme_fc_color_1 }};}
.cart:after,.ctrl-v6 .ctrl:after,.ctrl-v4 .ctrl:after,.ctrl-v6__btn:before,.ctrl-v4__btn:before,.header--v2 .search:after,.header--v3 .search:after,.header--v7 .search:after{
  border-left-color: #{{ theme_fc_color_1 }};}
.header--v2 .search .search__input,.header--v3 .search .search__input,.header--v7 .search .search__input{
  border-color: #{{ theme_fc_color_1 }};}
@media (min-width: 768px) and (max-width: 1199px) {
.header--v1 .search:after,.header--v4 .search:after,.header--v6 .search:after,.header--v8 .search:after,.header--v9 .search:after,.header--v10 .search:after{
  border-left-color: #{{ theme_fc_color_1 }};}
.header--v1 .search .search__input,.header--v4 .search .search__input,.header--v6 .search .search__input,.header--v8 .search .search__input,.header--v9 .search .search__input,.header--v10 .search .search__input{
  border-color: #{{ theme_fc_color_1 }};}
}
.topline,.footer__nav {
  background: #{{ theme_fc_color_2 }};}
.footer__subsc,.footer__line,.footer--service {
  background: #{{ theme_fc_color_3 }};}
{% endif %}

{% if (not product_detail) %}.btn--preview.js-btn-preview {display: none;}{% endif %}
{% if (custom_css or container_width) %} 
{% if (container_width) %}
@media (min-width: 992px) {
.container-fluid {max-width: {{ container_width }};}
.slides--width-container {max-width: calc({{ container_width }} - 4.0rem);}
}
@media (min-width: {{ container_width == '160rem' ? '1600px' : '1200px' }}) {
.slides .slick-prev {margin: 0 0 0 calc(-{{ container_width }}/2);} 
.slides .slick-next {margin: 0 calc(-{{ container_width }}/2) 0 0;}
}
{% endif %}	
{{ custom_css }} 
{% endif %}	
</style>
{% for link in links %} 
		<link href="{{ link['href'] }}" rel="{{ link['rel'] }}">
{% endfor %}
{% if (js_footorhead == 1) %} 
		<script src="catalog/view/javascript/technics/plugins.min.js{{ '?v'~version }}"></script>
		{{ fontawesome == 1 ? '<script defer src="catalog/view/javascript/technics/fontawesome/js/all.min.js?v' ~ version ~ '"></script>' : '' }} 
		<script src="catalog/view/javascript/technics/bootstrap/{{ bootstrap_ver ? '4.4.1' : '3.3.5' }}/bootstrap.min.js{{ '?v'~version }}"></script>
		<script src="catalog/view/javascript/technics/app.min.js{{ '?v'~version }}"></script>
{% for script in scripts %} 
		<script src="{{ script }}"></script>
{% endfor %} 
{% endif %}

{% if (js_footorhead == 1 and custom_js) %} 
		<script>{{ custom_js }}</script>
{% endif %} 

{% for analytic in analytics %} 
{{ analytic }} 
{% endfor %} 

{% if (yandex_metrika_counter) %} 
		<meta property="yandex_metric" content="{{ yandex_metrika_counter }}">
{% endif %} 
{% for h_url in href_url %}
	{% if h_url.href %}
		<link rel="alternate" hreflang="{{ h_url.code }}" href="{{ h_url.href }}" /> 
	{% endif %}
{% endfor %}

				{% if buyoneclick_status_product or buyoneclick_status_category or buyoneclick_status_module %}
					<script src="catalog/view/javascript/buyoneclick.js" type="text/javascript"></script>
					<script>
						function clickAnalytics(){
							console.log('clickAnalytics');
							{% if buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator is defined and buyoneclick_ya_identificator != '' %}
								yaCounter{{ buyoneclick_ya_counter }}.reachGoal('{{ buyoneclick_ya_identificator }}');
							{% endif %}
							{% if buyoneclick_google_status and buyoneclick_google_category_btn is defined and buyoneclick_google_category_btn != '' and buyoneclick_google_action_btn is defined and buyoneclick_google_action_btn != '' %}
								ga('send', 'event', '{{ buyoneclick_google_category_btn }}', '{{ buyoneclick_google_action_btn }}');
								gtag('event', '{{ buyoneclick_google_action_btn }}', {'event_category': '{{ buyoneclick_google_category_btn }}'});
							{% endif %}
							return true;
						}
						function clickAnalyticsSend(){
							console.log('clickAnalyticsSend');
							{% if buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator_send is defined and buyoneclick_ya_identificator_send != '' %}
								yaCounter{{ buyoneclick_ya_counter }}.reachGoal('{{ buyoneclick_ya_identificator_send }}');
							{% endif %}
							{% if buyoneclick_google_status and buyoneclick_google_category_send is defined and buyoneclick_google_category_send != '' and buyoneclick_google_action_send is defined and buyoneclick_google_action_send != '' %}
								ga('send', 'event', '{{ buyoneclick_google_category_send }}', '{{ buyoneclick_google_action_send }}');
								gtag('event', '{{ buyoneclick_google_action_send }}', {'event_category': '{{ buyoneclick_google_category_send }}'});
							{% endif %}
							return true;
						}
						function clickAnalyticsSuccess(){
							console.log('clickAnalyticsSuccess');
							{% if buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator_success is defined and buyoneclick_ya_identificator_success != '' %}
								yaCounter{{ buyoneclick_ya_counter }}.reachGoal('{{ buyoneclick_ya_identificator_success }}');
							{% endif %}
							{% if buyoneclick_google_status and buyoneclick_google_category_success is defined and buyoneclick_google_category_success != '' and buyoneclick_google_action_success is defined and buyoneclick_google_action_success != '' %}
								ga('send', 'event', '{{ buyoneclick_google_category_success }}', '{{ buyoneclick_google_action_success }}');
								gtag('event', '{{ buyoneclick_google_action_success }}', {'event_category': '{{ buyoneclick_google_category_success }}'});
							{% endif %}
							return true;
						}
					</script>
						{% if buyoneclick_validation_type %}
							<script src="catalog/view/javascript/jquery.mask.min.js" type="text/javascript"></script>
							<script>
								$(document).ready(function(){
									$('#boc_phone').mask('{{ buyoneclick_validation_type }}');
								});
							</script>
						{% endif %}
						{% if buyoneclick_exan_status %}
							<script src="catalog/view/javascript/sourcebuster.min.js" type="text/javascript"></script>
							<script>
								sbjs.init({
									callback: placeData
								});

								function placeData(sb) {
									$sb_first_typ		= sb.first.typ;
									$sb_first_src		= sb.first.src;
									$sb_first_mdm		= sb.first.mdm;
									$sb_first_cmp		= sb.first.cmp;
									$sb_first_cnt		= sb.first.cnt;
									$sb_first_trm		= sb.first.trm;

									$sb_curr_typ		= sb.current.typ;
									$sb_curr_src		= sb.current.src;
									$sb_curr_mdm		= sb.current.mdm;
									$sb_curr_cmp		= sb.current.cmp;
									$sb_curr_cnt		= sb.current.cnt;
									$sb_curr_trm		= sb.current.trm;

									$sb_first_add_fd	= sb.first_add.fd;
									$sb_first_add_ep	= sb.first_add.ep;
									$sb_first_add_rf	= sb.first_add.rf;

									$sb_curr_add_fd		= sb.current_add.fd;
									$sb_curr_add_ep		= sb.current_add.ep;
									$sb_curr_add_rf		= sb.current_add.rf;

									$sb_session_pgs		= sb.session.pgs;
									$sb_session_cpg		= sb.session.cpg;

									$sb_udata_vst		= sb.udata.vst;
									$sb_udata_uip		= sb.udata.uip;
									$sb_udata_uag		= sb.udata.uag;

									$sb_promo_code		= sb.promo.code;
								};

								function valueData() {
									document.getElementById('sb_first_typ').value	= $sb_first_typ;
									document.getElementById('sb_first_src').value	= $sb_first_src;
									document.getElementById('sb_first_mdm').value	= $sb_first_mdm;
									document.getElementById('sb_first_cmp').value	= $sb_first_cmp;
									document.getElementById('sb_first_cnt').value	= $sb_first_cnt;
									document.getElementById('sb_first_trm').value	= $sb_first_trm;

									document.getElementById('sb_current_typ').value	 = $sb_curr_typ;
									document.getElementById('sb_current_src').value	 = $sb_curr_src;
									document.getElementById('sb_current_mdm').value	 = $sb_curr_mdm;
									document.getElementById('sb_current_cmp').value	 = $sb_curr_cmp;
									document.getElementById('sb_current_cnt').value	 = $sb_curr_cnt;
									document.getElementById('sb_current_trm').value	 = $sb_curr_trm;

									document.getElementById('sb_first_add_fd').value	= $sb_first_add_fd;
									document.getElementById('sb_first_add_ep').value	= $sb_first_add_ep;
									document.getElementById('sb_first_add_rf').value	= $sb_first_add_rf;

									document.getElementById('sb_current_add_fd').value = $sb_curr_add_fd;
									document.getElementById('sb_current_add_ep').value = $sb_curr_add_ep;
									document.getElementById('sb_current_add_rf').value = $sb_curr_add_rf;

									document.getElementById('sb_session_pgs').value	 = $sb_session_pgs;
									document.getElementById('sb_session_cpg').value	 = $sb_session_cpg;

									document.getElementById('sb_udata_vst').value	= $sb_udata_vst;
									document.getElementById('sb_udata_uip').value	= $sb_udata_uip;
									document.getElementById('sb_udata_uag').value	= $sb_udata_uag;

									document.getElementById('sb_promo_code').value	 = $sb_promo_code;
								};
							</script>
						{% endif %}
						{% if buyoneclick_style_status %}
							<link href="catalog/view/theme/default/stylesheet/buyoneclick.css" rel="stylesheet">
						{% endif %}
						<style type="text/css">
							@keyframes lds-rolling {
								0% {
									-webkit-transform: translate(-50%, -50%) rotate(0deg);
									transform: translate(-50%, -50%) rotate(0deg);
								}
								100% {
									-webkit-transform: translate(-50%, -50%) rotate(360deg);
									transform: translate(-50%, -50%) rotate(360deg);
								}
							}
							@-webkit-keyframes lds-rolling {
								0% {
									-webkit-transform: translate(-50%, -50%) rotate(0deg);
									transform: translate(-50%, -50%) rotate(0deg);
								}
								100% {
									-webkit-transform: translate(-50%, -50%) rotate(360deg);
									transform: translate(-50%, -50%) rotate(360deg);
								}
							}
							.lds-rolling {
								position: relative;
								text-align: center;
							}
							.lds-rolling div, .lds-rolling div:after {
								position: absolute;
								width: 160px;
								height: 160px;
								border: 20px solid #bbcedd;
								border-top-color: transparent;
								border-radius: 50%;
							}
							.lds-rolling div {
								-webkit-animation: lds-rolling 1s linear infinite;
								animation: lds-rolling 1s linear infinite;
								top: 100px;
								left: 100px;
							}
							.lds-rolling div:after {
								-webkit-transform: rotate(90deg);
								transform: rotate(90deg);
							}
							.lds-rolling {
								width: 200px !important;
								height: 200px !important;
								-webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
								transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
								margin: 0 auto;
							}
							.col-pd-15 {
								padding-left:15px;
								padding-right:15px;
							}
							.col-mb-10 {
								margin-bottom:10px;
							}
							#boc_order hr {
								margin-top:0px;
								margin-bottom:15px;
							}
							.boc_product_info > div {
								line-height: 120px;
							}
							.boc_product_info > div > img {
								max-height: 120px;
								margin: 0 auto;
							}
							.boc_product_info > div > img, .boc_product_info > div > div, .boc_product_info > div > p {
								display: inline-block;
								line-height: normal;
								vertical-align: middle;
							}
							#boc_order .checkbox {
								margin-top: 0;
								padding: 0 10px;
								border: 1px solid transparent;
								border-radius: 6px;
							}
							#boc_order .checkbox.has-error {
								border-color: #a94442;
							}
							@media (max-width: 767px) {
								.boc_product_info > div {
									line-height:normal;
									text-align:center;
								}
							}
						</style>
				{% endif %}
			
  </head>
  <body class="page-homepage{{ class ? ' ' ~ class : '' }}">
  <div class="app app--v{{ header_type }}">
      <!-- Popups :: Start-->
	  <!--noindex-->
      <div class="popup popup--570" style="display: none;" id="signin">
        <button class="popup__close" data-fancybox-close>
          <svg class="icon-close">
            <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <div class="signin">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="signin__head"><span class="signin__title">{{ text_account_title }}</span></div>
              <div class="signin__body">
                <form action="{{ login }}" enctype="multipart/form-data" id="loginform" method="post">
                  <label class="ui-label">{{ text_technics_email }}</label>
                  <div class="ui-field">
                    <input class="ui-input" type="email" name="email" placeholder="{{ text_technics_email }}" required>
                  </div>
                  <label class="ui-label">{{ text_account_password }}</label>
                  <div class="ui-field">
                    <input class="ui-input" type="password" name="password" placeholder="{{ text_account_password }}" required>
					<a href="{{ forgotten }}">{{ text_forgotten }}</a>
                  </div>
                  <div class="signin__action">
					<button class="btn btn--blue" form="loginform" type="submit">{{ text_account_submit }}</button>
					<a class="btn btn--link" href="{{ register }}">{{ text_register }}</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
	  <!--/noindex-->
      <!-- Popups :: End-->
	  {{ header_view }}