{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-branched-sitemap" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    {% if (text_success) %} 
    <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ text_success }} 
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-branched-sitemap" class="form-horizontal">
          <!-- Licence -->
          {% if (not valid_licence) %} 
          <div class="form-group required" id="input-licence-wrapper">
            <label class="col-sm-2 control-label" for="input-licence">{{ entry_licence }}</label>
            <div class="col-sm-8">
              <input type="text" name="feed_branched_sitemap_licence" value="{{ feed_branched_sitemap_licence }}" placeholder="{{ entry_licence }}" id="input-licence" class="form-control" />
              {% if (errors['licence'] is defined) %}<div class="text-danger">{{ errors['licence'] }}</div>{% endif %} 
            </div>
            <div class="col-sm-2">
              <button id="save-licence" class="btn btn-danger">{{ button_save_licence }}</button>
            </div>
          </div>
          {% else %} 
          <input type="hidden" name="feed_branched_sitemap_licence" value="{{ feed_branched_sitemap_licence }}" id="input-licence" />
          {% endif %} 
          <div id="module-work-area" {{ not valid_licence ? 'style="display: none;"' : '' }}>
            <!-- Status -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_status" id="input-status" class="form-control">
                  {% if (feed_branched_sitemap_status) %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %} 
                </select>
              </div>
            </div>
            <!-- System -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-system">{{ entry_system }}</label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_system" id="input-system" class="form-control">
                  {% for system in systems %} 
                  <option value="{{ system }}" {{ feed_branched_sitemap_system == system ? 'selected' : '' }}>{{ system }}</option>
                  {% endfor %} 
                </select>
              </div>
            </div>
            <!-- Сachetime -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-cachetime">{{ entry_cachetime }}</label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_cachetime" id="input-cachetime" class="form-control">
                  {% for cachetime_value in cachetime_values %} 
                  <option value="{{ cachetime_value['value'] }}" {{ feed_branched_sitemap_cachetime == cachetime_value['value'] ? 'selected' : '' }}>{{ cachetime_value['text'] }}</option>
                  {% endfor %} 
                </select>
              </div>
            </div>
            <!-- Limit -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-limit"><span data-toggle="toggle" title="{{ help_limit }}">{{ entry_limit }}</label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_limit" id="input-limit" class="form-control">
                  {% for limit in limits %} 
                  <option value="{{ limit }}" {{ feed_branched_sitemap_limit == limit ? 'selected' : '' }}>{{ limit }}</option>
                  {% endfor %} 
                </select>
              </div>
            </div>
            <!-- Multishop -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-multishop">{{ entry_multishop }}</label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_multishop" id="input-multishop" class="form-control">
                  {% if (feed_branched_sitemap_multishop) %} 
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  <option value="0">{{ text_no }}</option>
                  {% else %} 
                  <option value="1">{{ text_yes }}</option>
                  <option value="0" selected="selected">{{ text_no }}</option>
                  {% endif %} 
                </select>
              </div>
            </div>
            <!-- Off Description -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-off_description" style="padding-top: 0;"><span data-toggle="toggle" title="{{ help_off_description }}">{{ entry_off_description }}</span></label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_off_description" id="input-off_description" class="form-control">
                  {% if (feed_branched_sitemap_off_description) %} 
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  <option value="0">{{ text_no }}</option>
                  {% else %} 
                  <option value="1">{{ text_yes }}</option>
                  <option value="0" selected="selected">{{ text_no }}</option>
                  {% endif %} 
                </select>
              </div>
            </div>
            <!-- Sitemap Link -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-data-feed">{{ entry_data_feed }}</label>
              <div class="col-sm-5">
                <textarea rows="1" readonly id="input-data-feed" class="form-control">{{ data_feed }}</textarea>
              </div>
            </div>
            <!-- Sitemap Link images -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-data-feed">{{ entry_data_feed_image }}</label>
              <div class="col-sm-5">
                <textarea rows="1" readonly id="input-data-feed" class="form-control">{{ data_feed_image }}</textarea>
              </div>
            </div>
						<!-- Require Image Caption -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-require_image_caption" style="padding-top: 0;"><span data-toggle="toggle" title="{{ help_require_image_caption }}">{{ entry_require_image_caption }}</span></label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_require_image_caption" id="input-require_image_caption" class="form-control">
                  {% if (feed_branched_sitemap_require_image_caption) %} 
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                  {% else %} 
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                  {% endif %} 
                </select>
              </div>
            </div>
						<!-- Limit Image -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-limit-image"><span data-toggle="toggle" title="{{ help_limit }}">{{ entry_limit_image }}</label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_limit_image" id="input-limit-image" class="form-control">
                  {% for limit_image in limits_image %} 
                  <option value="{{ limit_image }}" {{ feed_branched_sitemap_limit_image == limit_image ? 'selected' : '' }}>{{ limit_image }}</option>
                  {% endfor %} 
                </select>
              </div>
            </div>
						<!-- Off Check Image File -->
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-off_check_image_file" style="padding-top: 0;"><span data-toggle="toggle" title="{{ help_off_check_image_file }}">{{ entry_off_check_image_file }}</span></label>
              <div class="col-sm-2">
                <select name="feed_branched_sitemap_off_check_image_file" id="input-off_check_image_file" class="form-control">
                  {% if (feed_branched_sitemap_off_check_image_file) %} 
                  <option value="1" selected="selected">{{ text_yes }}</option>
                  <option value="0">{{ text_no }}</option>
                  {% else %} 
                  <option value="1">{{ text_yes }}</option>
                  <option value="0" selected="selected">{{ text_no }}</option>
                  {% endif %} 
                </select>
              </div>
            </div>
						{# 
 <!-- Require Images -->
 <div class="form-group">
 <label class="col-sm-2 control-label" for="input-require_images" style="padding-top: 0;"><?php echo $entry_require_images; ?></label>
 <div class="col-sm-2">
 <select name="feed_branched_sitemap_require_images" id="input-require_images" class="form-control">
 <?php if ($feed_branched_sitemap_require_images) { ?>
 <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
 <option value="0"><?php echo $text_disabled; ?></option>
 <?php } else { ?>
 <option value="1"><?php echo $text_enabled; ?></option>
 <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
 <?php } ?>
 </select>
 </div>
 </div> #} 
            
          </div>
        </form>
      </div>
    </div>
    <div class="copywrite" style="padding: 10px 10px 0 10px; border: 1px dashed #ccc;">
    	<p>
    		&copy; {{ text_author }}: <a href="https://clc.to/IIKAHg" target="_blank">Serge Tkach</a>
    		<br/>
				{{ text_author_support }}: <a href="mailto:sergetkach.help@gmail.com">sergetkach.help@gmail.com</a>
    		<br/>
				{{ text_module_version }}: <span style="font-weight: bold;">1.9.2</span>
    		<br/>
				{{ text_system_version }}: <span style="font-weight: bold;">3.x</span>
    	</p>
    </div>
  </div>
</div>
{{ footer }}