{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}
      <!-- Main :: Start-->
      <main class="main">
        <!-- Breadcrumbs :: Start-->
        <div class="breadcrumbs">
          <div class="container-fluid">
            <ul class="breadcrumbs__menu">
			{% for i,breadcrumb in breadcrumbs %}
				{% if (i + 1 < (breadcrumbs)|length) %} 
				<li><a class="breadcrumbs__link" href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a></li>
				{% else %} 
				<li>{{ breadcrumb['text'] }}</li>
				{% endif %}
			{% endfor %}
            </ul>
          </div>
        </div>
        <!-- Breadcrumbs :: End-->
		{{ content_top }}
       <!-- Brands :: Start-->
        <div class="brands">
          <div class="container-fluid">
            <h1 class="brands__heading">{{ heading_title }}</h1>
            <div class="row">
			{{ column_left ? '<div id="column-left" class="col-xl-3">' ~ column_left ~ '</div>' : ''}}
			<div class="col-xl-{{ col }}">
				<div class="brands__grid">
					<div class="row">
					{% for category in categories %} 
						{% for manufacturers in category['manufacturer']|batch(1, 'No item')  %} 
							{% for manufacturer in manufacturers %} 
								<div class="col-6 col-lg-4">
									<div class="brands__item">
									{% if manufacturer['thumb'] %} 
										<a class="brands__item-image" href="{{ manufacturer['href'] }}"><img src="{{ manufacturer['thumb'] }}" alt="{{ manufacturer['name'] }}" title="{{ manufacturer['name'] }}"></a>
									{% else %}
										<a class="brands__item-image" href="{{ manufacturer['href'] }}">{{ manufacturer['name'] }}</a>
									{% endif %}
									</div>
								</div>
								{% endfor %} 
						{% endfor %} 
					{% endfor %} 
					</div>
				</div>
			</div>
			{{ column_right ? '<div id="column-right" class="col-xl-3">' ~ column_right ~ '</div>' : ''}}
            </div>
          </div>
        </div>
        <!-- Page :: End-->
		{{ content_bottom }}
      </main>
      <!-- Main :: End-->
{{ footer }}
{% if schema %} 
<!-- Schema Org :: Start-->
<script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
			{% for i,breadcrumb in breadcrumbs %}
			{
              "@type": "ListItem",
              "position": {{ i + 1 }},
              "item": {
                "@id": "{{ breadcrumb['href'] }}",
                "name": "{{ breadcrumb['text'] }}"
              }
            }{% if (i + 1 < breadcrumbs|length) %},{% endif %}
			{% endfor %}
			]
          }
</script>
 <!-- Schema Org :: End-->
{% endif %}
</body></html>