{{ header }} {% set col = column_left ? 9 : 12 %} {% set col = column_right ? col - 3 : col %}

<div class="alerts"></div>

      <!-- Main :: Start-->
      <main class="main">
        <!-- Breadcrumbs :: Start-->
        <div class="breadcrumbs">
          <div class="container-fluid">
            <ul class="breadcrumbs__menu">
			{% for i,breadcrumb in breadcrumbs %}
				{% if (i + 1 < (breadcrumbs)|length) %} 
					<li>
						<a class="breadcrumbs__link" href="{{ breadcrumb['href'] }}"><span>{{ breadcrumb['text'] }}</span></a>
						{% if (breadcrumb.breadList is defined) %}
			                <div class="breadcrumbs__dropdown">
			                  <ul class="breadcrumbs__submenu">
			                  	{% for i,category in breadcrumb.breadList %}
			                  	  <li><a class="breadcrumbs__submenu-link" href="{{ category.href }}">{{ category.name }}</a></li>
			                  	{% endfor %}
			                  </ul>
                			</div>
						{% endif %}
					</li>
				{% else %} 
				<li>{{ breadcrumb['text'] }}</li>
				{% endif %}
			{% endfor %}
            </ul>
          </div>
        </div>
        <!-- Breadcrumbs :: End-->
		{{ content_top }}
        <!-- Page :: Start-->
        <div class="sku">
		
        {% if (column_left or column_right) %}
          <div class="container-fluid">
            <div class="row">
			{{ column_left ? '<div id="column-left" class="col-xl-3">' ~ column_left ~ '</div>' : ''}}
			<div class="col-xl-{{ col }}">
		{% endif %}
		
        <!-- SKU :: Start-->
		  <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 col-lg-6">
                <div class="sku__gallery js-gallery" {{ images ? '' : 'style="margin-left: 0;"'}}>
					{% if (category_time and special and special_date_end) %}
							{% if (special and sales) %}
								<mark class="products__item-discount">{{ '<small>' ~ labelsinfo['sale']['name'][language_id] ~ '</small>' ~ discount }}</mark>
							{% endif %}
						{% endif %}
				   <div class="sku__stickers {{ category_time and special and special_date_end ? 'sku__stickers--top' : ''}}">
					{% if (isnewest) %} 
						<mark class="products__item-mark products__item-mark--new">{{ labelsinfo['new']['name'][language_id] }}</mark>
					{% endif %} 
					{% if ((special and sales) and not (category_time and special_date_end)) %}
						<mark class="products__item-mark products__item-mark--sale">{{ labelsinfo['sale']['name'][language_id] ~ ' ' ~ discount }}</mark>
					{% endif %} 
					{% if (popular) %} 
						<mark class="products__item-mark products__item-mark--popular">{{ popular }}</mark>
					{% endif %} 
					{% if (hit) %} 
						<mark class="products__item-mark products__item-mark--hit">{{ hit }}</mark>
					{% endif %} 
					{% if (catch) %} 
						{% if (nocatch) %}
							<mark class="products__item-mark products__item-mark--nocatch">{{ catch }}</mark>
						{% else %} 
							<mark class="products__item-mark products__item-mark--catch">{{ catch }}</mark>
						{% endif %} 
					{% endif %} 
					{% if (reward) %} 
						<mark class="products__item-mark products__item-mark--reward">{{ text_reward }} {{ reward }}</mark>
					{% endif %} 
					</div>
					<div class="sku__buttons">
					<a class="btn btn--blog" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');" >
                      <svg class="icon-blog">
                        <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-blog"></use> 
                      </svg>
					</a>
					<a class="btn btn--like" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');" >
                      <svg class="icon-like">
                        <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-like"></use>
                      </svg>
					</a>
					</div>
					<div class="sku__slides js-gallery-slides">
					{% if (thumb) %}
						{% if (zoom) %}
							<a class="sku__slides-item sku__slides-item--ezplus" data-popup="{{ popup }}"><img src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}" data-zoom-{% if (zoom == 2) %}lens{% elseif (zoom == 3) %}window{% else %}inner{% endif %} data-zoom-image="{{ popup }}"></a>
						{% else %}
							<a class="sku__slides-item" href="{{ popup }}" data-fancybox="images"><img {% if (lazyload) %}src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="{{ image_thumb_width }}" height="{{ image_thumb_height }}" data-lazy{% else %}src{% endif %}="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}"></a>
						{% endif %}
					{% endif %}
					{% if (images) %} 
						{% for image in images %}
						 {% if image.isvideo is defined %}
						 	<div class="sku__slides-item">
							<a data-fancybox="images" href="https://www.youtube.com/watch?v={{ image['thumb']|replace({'https://www.youtube.com/embed/': '', '?controls=0': ''}) }}"><span>▶</span><img {% if (lazyload) %}src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" width="480" height="360" data-lazy{% else %}src{% endif %}="https://img.youtube.com/vi/{{ image['thumb']|replace({'https://www.youtube.com/embed/': '', '?controls=0': ''}) }}/hqdefault.jpg" title="{{ heading_title }}"></a>
							</div>
						 {% else %}
						  {% if (zoom) %}
							<a class="sku__slides-item sku__slides-item--ezplus" data-popup="{{ image['popup'] }}"><img src="{{ image['thumb'] }}" alt="{{ heading_title }}" title="{{ heading_title }}" data-zoom-{% if (zoom == 2) %}lens{% elseif (zoom == 3) %}window{% else %}inner{% endif %} data-zoom-image="{{ image['popup'] }}"></a>
						  {% else %}
							<a class="sku__slides-item" href="{{ image['popup'] }}" data-fancybox="images"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ image['thumb'] }}" alt="{{ heading_title }}" title="{{ heading_title }}"></a>
						  {% endif %}
						 {% endif %}
						{% endfor %}
					{% endif %}	
					</div>
					{% if (images) %}
					<div class="sku__thumbs {% if images|length < 4 %}sku__thumbs--top{% endif %} js-gallery-thumbs">
						{% if (thumb) %}
						<div class="sku__thumbs-item"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ additional }}" alt="{{ heading_title }}" title="{{ heading_title }}"></div>
						{% endif %} 
						{% for image in images %}
						  {% if image.isvideo is defined %}
						<div class="sku__thumbs-video"><span class="icon-video"></span>{{ image['additional'] }}</div> 
						  {% else %}
						<div class="sku__thumbs-item"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ image['additional'] }}" alt="{{ heading_title }}" title="{{ heading_title }}"></div>
						  {% endif %}
						{% endfor %}	
					</div>
					{% endif %}
					{% if (category_time and special and special_date_end) %}
					<div class="sku__countdown">
						<div class="countdown">
						  <div class="row align-items-center">
							<div class="col-sm col-md-12 col-lg-6">
							  <p class="countdown__text">{{ time_text_1 }} <small>{{ time_text_2 }}</small></p>
							</div>
							<div class="col-sm-auto col-md-12 col-lg-6">
							  <time class="countdown__time js-countdown-time" data-text-countdown="{{ text_countdown }}">{{ special_date_end }}</time>
							</div>
						  </div>
						</div>
					</div>
					{% endif %}
                </div>
              </div>
                <style>
                    .inline{display:inline}
                    .item_economy_price {
                        color: #b8b8b8;
                        display: block;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 10px;
                        border: 1px solid #e8e8e8;
                        height: auto;
                        width: auto;
                        text-align: center;
                        float: right;
                    }
                    .btn--cart .icon-cart{position: relative;top: auto;right: auto}
                    .col-auto .btn--cart {padding:0px;min-width: 120px}
                    .text_info{color: #343434;
                        display: block;
                        vertical-align: middle;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 10px 5px 10px 10px;
                        border: 1px solid #e8e8e8;
                        height: auto;
                        width: auto;
                        max-width: 180px;
                        min-width: 100px;
                        text-align: left;
                        margin-bottom: 10px;
                    }
                    .item_economy_price{color: #999;text-decoration:underline;cursor: pointer}
                    .item_economy_price:hover{color: #999;text-decoration:underline;cursor: pointer}
                    .status_in_stock,.status_under_order,.status_not_available {
                        font-weight: 600;
                        text-align: center;
                        text-transform: uppercase;
                        font-size: 12px;
                        background: none;
                        border: 2px solid;
                        border-radius: 50px;
                        overflow: hidden;
                        padding: 5px 20px;
                        margin: 0 auto;
                        width: auto;
                        line-height: 25px;
                    }
                    .status_in_stock{color: #16b54e}
                    .status_under_order{color: #e09b15;width: 230px}
                    .status_not_available{color: #ff0000}
                    .buy_one_click{
                        border: solid #e8e8e8 1px;
                        /*display: none;*/
                        padding:20px 25px;
                        max-width: 360px;
                        width: auto;
                    }
                    @media screen and (max-width: 800px) {
                        .buy_one_click{width: 100%;max-width:100% }
                    }
                    .buy_one_click_input{
                        font-size: 12px;
                        line-height: 30px;
                        width: 100%;
                        border: none;
                        border-bottom: solid #e8e8e8 1px;
                        color: #343434;
                    }
                    #message{margin-top: 5px;text-align: center}
                    .buy_one_click_submit
                    {
                        margin-top:20px;
                        width: 100%;
                        border: none;
                        background:#2e50cc ;
                        color:#fff;
                        text-align: center;
                        border-radius:50px;
                        text-transform: uppercase;
                        font-weight: 600;
                        padding:15px;
                        cursor: pointer;
                    }
                </style>
                <div id="popupBuyClick" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">{{ text_title_popup_buy_click }}</h4>
                            </div>
                            <div class="modal-body">
                                <label class="ui-label required" >{{ text_name }}</label>
                                <div class="ui-field" >
                                    <input class="ui-input" type="text" placeholder="{{ text_name }}" value=""    name="name">
                                </div>

                                <label class="ui-label required" >{{ text_phone }}</label>
                                <div class="ui-field" >
                                    <input class="ui-input" type="text" placeholder="{{ text_phone }}" value=""  name="phone">
                                </div>

                                <label class="ui-label required">{{ text_count }}</label>
                                <div class="ui-field">
                                    <input class="ui-input" type="text" placeholder="{{ text_count }}" value=""  name="count">
                                </div>

                                <div class="writeus__action">
                                    <button type="button" class="btn btn--blue">{{ text_order_popup_buy_click }}</button>
                                    <input name="redirect"  value="1" class="fast-redirect" type="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="col-md-7 col-lg-6">
                <div class="sku__content" id="product">
                    <div class="sku__panel" style="margin:0px">
                      <div class="row">
                        <div class="col" style="margin-bottom:10px">
						{% if (manufacturer) %}
                          <p class="sku__brand inline"><a href="{{ manufacturers }}"><span>{{ manufacturer }}</span></a></p>
                            {% if (model) %}
                                <p class="sku__id inline" style="margin-left: 20px;color:#999;font-size: 1.5rem;padding:0px">{{ text_product_code }}<span class="sku__id inline" style="margin-left:5px;color:#343434;font-size: 1.5rem;font-weight:600">{{ model }}</span></p>
                            {% endif %}
                        {% else %}
                            {% if (model) %}
                                <p class="sku__id inline" style="color:#999;font-size: 1.5rem;padding:0px">{{ text_product_code }}<span class="sku__id inline" style="margin-left:5px;color:#343434;font-size: 1.5rem;font-weight:600">{{ model }}</span></p>
                            {% endif %}
						{% endif %}
                          <div class="sku__heading">
						  <h1>{{ heading_title }}</h1>
						  {% if (review_status and rating) %}
						  <a class="sku__rating" href="#">
                              <svg class="icon-star">
                                <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-star"></use>
                              </svg>{{ rating }}/5
						  </a>
						  {% endif %}
						  </div>

                          <div class="row" style="margin-top:20px">
                              <div class="col" style="padding-right:0px">
                                {% if (price) %}
                                <p class="sku__price" style="color:#2e50cc"><span style="font-size:1.5rem;font-weight:500">{{ text_price_2 }}</span>
                                    {% if (special) %}
                                        {{ special }}
                                        <u>{{ price }}</u>
                                    {% else %}
                                        {{ price }}
                                    {% endif %}

                                    {% if ( stock_mode == 1 and stock|length!=13) %}
                                    <span style="color:#2e50cc;font-weight: bold;cursor: pointer" title="{{ text_information }}" data-toggle="modal" data-target="#my-info-popup">?</span>
                                    <div id="my-info-popup" class="modal" tabindex="-1" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">{{ text_information }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>{{ text_information_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </p>
                              </div>
                              <!-- ocmodpos_buy_onclick -->
                              <div class="col" style="padding-left:0;" id="block-BuyClick">
                                  <span data-toggle="modal" data-target="#popupBuyClick" class="item_economy_price" style="display: none !important;">
                                    <img src="https://silverclean.com.ua/image/catalog/economy_price.png" style="height:15px;border:none"><br>
                                      {{ text_buy_goods_cheaper }}
                                  </span>

                                  <span type="button"
                                        data-loading-text="{{ buyoneclick_text_loading }}"
                                        class="item_economy_price boc_order_btn"
                                          {% if (buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator is defined and buyoneclick_ya_identificator != '') or (buyoneclick_google_status and buyoneclick_google_category_btn is defined and buyoneclick_google_category_btn != '' and buyoneclick_google_action_btn is defined and buyoneclick_google_action_btn != '') %} onClick="clickAnalytics(); return true;" {% endif %}
                                        data-target="#boc_order"
                                        data-product="{{ heading_title }}"
                                        data-product_id="{{ product_id }}">
                                      <img src="https://silverclean.com.ua/image/catalog/economy_price.png" style="height:15px;border:none"><br>
                                      {{ text_buy_goods_cheaper }}
                                  </span>

                              </div>



                          </div>

                            {% if (quantity > 0) %}
                            <span class="status_in_stock">
                                              <i class="fa fa-check" style="margin-right:5px"></i>{{ stock }}
                                          </span>
                            {% else %}
                            {% if ( stock_mode == 1 and stock|length!=13) %}
                            <span class="status_under_order">
                                          {% else %}
                                <span class="status_not_available">
                                          {% endif %}
                                    {{ stock }}
                                        </span>
                                {% endif %}

                                <div class="sku__group">
                                    {% if tax or points or discounts %}
                                        <p>
                                            {% if tax %}
                                                {{ text_tax }} {{ tax }}<br>
                                            {% endif %}
                                            {% if points %}
                                                {{ text_points }} {{ points }}<br>
                                            {% endif %}
                                            {% if discounts %}
                                                {% for discount in discounts %}
                                                    {{ discount.quantity }}{{ text_discount }}{{ discount.price }}<br>
                                                {% endfor %}
                                            {% endif %}
                                        </p>
                                    {% endif %}
                                    {% endif %}
                                    <div class="sku__action">
                                        <div class="row">
                                            <div class="col-auto">
                                                <input class="ui-number" name="quantity" type="number" min="{{ minimum }}" max="9999" value="{{ minimum }}">
                                                <input type="hidden" name="product_id" value="{{ product_id }}">
                                            </div>
                                            <div class="col">
                                                <div class="sku__action-buttons">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <button type="button" style="text-align: center" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn--cart" {{ buy_btn ? 'disabled' : ''}}>{{ button_cart }}
                                                                <svg class="icon-cart">
                                                                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-cart"></use>
                                                                </svg>
                                                            </button>
                                                        </div>
                                                        {% if (buy_click['status'] and not buy_btn) %}
                                                            <div class="col-auto"><a class="btn btn--dashed js-fancy-popup-cart" href="#popup-buy-click" data-for="{{ product_id }}" data-typefrom="product"><span>{{ text_technics_buy_click }}</span></a></div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-auto hidden-md hidden-sm hidden-xs">
                            <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_1.png);">{{ text_seo_1 }}</div></div>
                            <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_2.png);">{{ text_seo_2 }}</div></div>
                            <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_3.png);">{{ text_seo_3 }}</div></div>
                            <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_4.png);">{{ text_seo_4 }}</div></div>
                        </div>
                      </div>
                    </div>
					{% if (options or recurrings) %}
                    <div class="sku__settings">
					{% for option_row in prep_options %}
                      <div class="row">
                      	{% for i,option in option_row %}
					    <div class="{% if (option_row|length  == 2) %}col-auto{% else %}col-xl-12{% endif %}">
						{% if (option['type'] == 'select') %}
                          <div class="sku__type">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							<div class="ui-field">
                            <select name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="ui-select">
								<option value="">{{ text_select }}</option>
								{% for option_value in option['product_option_value'] %} 
								<option value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }} 
								{% if (option_value['price'] and opt_price) %} 
								{{ option_value['price_prefix'] }}{{ option_value['price'] }} 
								{% endif %} 
								</option>
								{% endfor %} 
							</select>
                            </div>
                          </div>
						{% endif %}
						{% if (option['type'] == 'radio') %}
						 {% if option.isimage %}
                          <div class="sku__color">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							<div class="ui-group-color" id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %}
                              <label class="ui-color">
                                <input class="ui-color__input" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}"><span class="ui-color__btn" style="background-image: url({{ option_value['image'] }});" title="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }}{{ option_value.price }} {% endif %}">
                                  <svg class="icon-color-check">
                                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-color-check"></use>
                                  </svg></span>
                              </label>
							{% endfor %}
							</div>
                          </div>
						 {% else %}
						  {% if (not opt_type) %}
                          <div class="sku__type">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							<div class="ui-group" id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %} 
							<label class="ui-check">
								<input class="ui-check__input" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}">
								<span class="ui-check__radio">
								</span>
								{{ option_value['name'] }} 
								{% if (option_value['price'] and opt_price) %} 
								{{ option_value['price_prefix'] }}{{ option_value['price'] }} 
								{% endif %}	
							</label>
							{% endfor %}
							</div>
                          </div>
                          {% else %}
						  <div class="sku__size">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
                            <div class="ui-group-size" id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %}
                              <label class="ui-size">
                                <input type="radio" class="ui-size__input" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" />
								<span class="ui-size__btn">
								{{ option_value['name'] }} 
								{% if (option_value['price'] and opt_price) %} 
								{{ option_value['price_prefix'] }}{{ option_value['price'] }} 
								{% endif %}	
								</span>
                              </label>
							{% endfor %}
                            </div>
                          </div>
						  {% endif %}
						 {% endif %}
						{% endif %}
						{% if (option['type'] == 'checkbox') %}
						 {% if option.isimage %}
                          <div class="sku__color">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							<div class="ui-group-color" id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %}
                              <label class="ui-color">
                                <input class="ui-color__input" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}"><span class="ui-color__btn" style="background-image: url({{ option_value['image'] }});" title="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }}{{ option_value.price }} {% endif %}">
                                  <svg class="icon-color-check">
                                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-color-check"></use>
                                  </svg></span>
                              </label>
							{% endfor %}
							</div>
                          </div>
						 {% else %}
						  {% if (not opt_type) %}
                          <div class="sku__type">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							<div class="ui-group" id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %} 
							<label class="ui-check">
								<input class="ui-check__input" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}">
								<span class="ui-check__checkbox">
								  <svg class="icon-check">
									<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-check"></use>
								  </svg>
								</span>
								{{ option_value['name'] }} 
								{% if (option_value['price'] and opt_price) %} 
								{{ option_value['price_prefix'] }}{{ option_value['price'] }} 
								{% endif %}	
							</label>
							{% endfor %}
							</div>
                          </div>
                          {% else %}
						  <div class="sku__size">
                            <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
                            <div class="ui-group-size" id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %}
                              <label class="ui-size">
                                <input class="ui-size__input" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}">
								<span class="ui-size__btn">
								{{ option_value['name'] }} 
								{% if (option_value['price'] and opt_price) %} 
								{{ option_value['price_prefix'] }}{{ option_value['price'] }} 
								{% endif %}	
								</span>
                              </label>
							{% endfor %}
                            </div>
                          </div>
						  {% endif %}
						 {% endif %}
						{% endif %}
						{% if (option['type'] == 'text') %}
							<div class="ui-group">
							<label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
								<div class="ui-field">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="ui-input">
								</div>
							</div>
						{% endif %}
						{% if (option['type'] == 'textarea') %}
							<div class="ui-group">
							  <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							  <div class="ui-field">
								<textarea class="ui-textarea" name="option[{{ option['product_option_id'] }}]" rows="3" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}">{{ option['value'] }}</textarea>
							  </div>
							</div>
						{% endif %}
						{% if (option['type'] == 'file') %}
							<div class="ui-group">
							  <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							  <div class="ui-field">
								<button type="button" id="button-upload{{ option['product_option_id'] }}" class="btn">{{ button_upload }}</button>
								<input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}">
							  </div>
							</div>
						{% endif %}
						{% if (option['type'] == 'date') %}
							<div class="ui-group">
							  <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							  <div class="ui-field">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="ui-input date" data-date-format="{{ date_format }}" data-toggle="datetimepicker" data-target=".date">
							  </div>
							</div>
						{% endif %}
						{% if (option['type'] == 'datetime') %}
							<div class="ui-group">
							  <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							  <div class="ui-field">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="ui-input datetime" data-date-format="{{ datetime_format }}" data-toggle="datetimepicker" data-target=".datetime">
							  </div>
							</div>
						{% endif %}
						{% if (option['type'] == 'time') %}
							<div class="ui-group">
							  <label class="ui-label{% if option.required %} required{% endif %}">{{ option['name'] }}</label>
							  <div class="ui-field">
								<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="ui-input time" data-date-format="{{ time_format }}" data-toggle="datetimepicker" data-target=".time">
							  </div>
							</div>
						{% endif %}
                        </div>
                        {% endfor %}
                      </div>
					{% endfor %}
					  {% if (recurrings) %}
                      <div class="row">
					    <div class="col-xl-12">
                          <div class="sku__type recurring">
                            <label class="ui-label">{{ text_payment_recurring }}</label>
                            <div class="ui-field">
								<select name="recurring_id" class="ui-select">
									<option value="">{{ text_select }}</option>
									{% for recurring in recurrings %}
									<option value="{{ recurring.recurring_id }}">{{ recurring.name }}</option>
									{% endfor %} 
								</select>
							</div>
							<div id="recurring-description"></div>
                          </div>
						</div>
					  </div>
					  {% endif %}
                    </div>
					{% endif %}
					
					{% if (customTabs['popup'] is defined) %} 
						<div class="sku__custom-popup">
							{% for key,popup in customTabs['popup'] %} 
								<a href="#custom-popup-{{ key }}" class="link-dashed js-fancy-popup" style="display: inline;">{{ popup['title'] }}</a>
							{% endfor %} 
						</div>
					{% endif %} 

                    <script>


                    </script>
                    <div class="buy_one_click ">
                           <span type="button"
                                   style="display: none"
                                   data-loading-text="{{ buyoneclick_text_loading }}"
                                   id="boc_order_btn_zzz"
                                   {% if (buyoneclick_ya_status and buyoneclick_ya_counter is defined and buyoneclick_ya_counter != '' and buyoneclick_ya_identificator is defined and buyoneclick_ya_identificator != '') or (buyoneclick_google_status and buyoneclick_google_category_btn is defined and buyoneclick_google_category_btn != '' and buyoneclick_google_action_btn is defined and buyoneclick_google_action_btn != '') %} onClick="clickAnalytics(); return true;" {% endif %}
                                    data-target="#boc_order"
                                   data-product="{{ heading_title }}"
                                   data-product_id="{{ product_id }}">
                              <img src="https://silverclean.com.ua/image/catalog/economy_price.png" style="height:15px;border:none"><br>
                              {{ text_buy_goods_cheaper }}
                          </span>

                        <form id="boc_form" action="" role="form">
                            <input type="hidden" name="fasted" value="true">
                            <input type="text" name="boc_name" placeholder="{{ text_buy_one_name }}" class="buy_one_click_input">
                            <input type="tel" name="boc_phone" placeholder="+38( _ _ _ )_ _ - _ _ - _ _" class="buy_one_click_input" style="margin-top:15px;" id="phone">
                            <span id="message" style="color:red;line-height:10px"></span>
                            <input type="submit" value="{{ text_buy_one_submit }}" class="buy_one_click_submit" >
                        </form>
                    </div>
					{% if (short_descr and shortdescription) %}
                    <dl class="sku__dl">
                      <dt>{{ text_technics_short_descr }}</dt>
                      <dd>{{ shortdescription }}</dd>
                    </dl>
					{% endif %}
					{% if (soc_share_prod) %}
					<div class="sku__share">
						{% if (soc_share_code) %} 
						{{ soc_share_code }} 
						{% else %} 
						<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dc053ae406c06af" async="async"></script>
						<div class="addthis_inline_share_toolbox"></div>
						{% endif %} 
					</div>
					{% endif %}
                </div>
              </div>
            </div>
              <div class="row" style="margin-top:10px">
                  <div class="col visible-sm visible-md visible-xs" style="padding-right:0px">
                      <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_1.png);">{{ text_seo_1 }}</div></div>
                      <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_3.png);">{{ text_seo_3 }}</div></div>
                  </div>
                  <div class="col visible-sm visible-md visible-xs" style="padding-right:0px">
                      <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_2.png);">{{ text_seo_2 }}</div></div>
                      <div class="text_info"><div style="background: no-repeat 5px center;background-size: 25px;padding: 3px 5px 5px 45px;background-image: url(https://silverclean.com.ua/image/catalog/info_4.png);">{{ text_seo_4 }}</div></div>
                  </div>
              </div>
          </div>
        <!-- SKU :: End-->
		{% if (description or attribute_groups or customTabs['tab'] is defined) %}
        <!-- Details :: Start-->
        <div class="details">
          <div class="container-fluid">
            <div class="details__tabs" data-tabs>
              <nav class="details__tabs-nav">
			  {% if (description) %}
                <button class="details__tabs-btn is-active" data-tabs-btn="tab_description">{{ tab_description }}
                  <svg class="icon-arrow-down">
                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-arrow-down"></use>
                  </svg>
                </button>
			  {% endif %}
			  {% if (attribute_groups) %}
                <button class="details__tabs-btn {% if (not description) %}is-active{% endif %}" data-tabs-btn="tab_attribute">{{ tab_attribute }}
                  <svg class="icon-arrow-down">
                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-arrow-down"></use>
                  </svg>
                </button>
			  {% endif %}
			  {% if (customTabs['tab'] is defined) %}
				{% for i,tab in customTabs['tab'] %}
                <button class="details__tabs-btn" data-tabs-btn="tab_custom_tab_{{ i }}">{{ tab['title'] }}
                  <svg class="icon-arrow-down">
                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-arrow-down"></use>
                  </svg>
                </button>
				{% endfor %}
			  {% endif %}
              </nav>
              <div class="details__tabs-container">
				{% if (description) %}
                <button class="details__tabs-btn is-active" data-tabs-btn="tab_description">{{ tab_description }}
                  <svg class="icon-arrow-down">
                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-arrow-down"></use>
                  </svg>
                </button>
                <div class="details__tabs-content is-active" data-tabs-content="tab_description">
					{{ description }}
                </div>
				{% endif %}
				{% if (attribute_groups) %}
                <button class="details__tabs-btn {% if (not description) %}is-active{% endif %}" data-tabs-btn="tab_attribute">{{ tab_attribute }}
                  <svg class="icon-arrow-down">
                    <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-arrow-down"></use>
                  </svg>
                </button>
                <div class="details__tabs-content {% if (not description) %}is-active{% endif %}" data-tabs-content="tab_attribute">
                  <div class="details__info">
				  {% for attribute_group in attribute_groups %}
				  {% if (not typeOptAtt) %}
                    <div class="row">
                      <div class="col-12 col-md-4">
                        <span class="h4 details__info-heading">{{ attribute_group['name'] }}</span>
                      </div>
					  {% for attribute_group_attributes in attribute_group['attribute']|batch((attribute_group['attribute']|length / 2)|round) %}
                      <div class="col-6 col-md-4">
                        <dl class="details__info-dl">
						  {% for attribute in attribute_group_attributes %}
                          <dt>{{ attribute['name'] }}</dt>
                          <dd>{{ attribute['text'] }}</dd>
						  {% endfor %}
                        </dl>
                      </div>
					  {% endfor %}
                    </div>
				  {% else %}
                    <div class="row" style="padding-bottom: 3rem;">
                      <div class="col-12 col-md-12">
                        <span class="h4 details__info-heading">{{ attribute_group['name'] }}</span>
                      </div>
					  {% for attribute in attribute_group['attribute'] %}
                      <div class="col-12 col-md-12">
                        <dl class="details__info-dl">
                          <dt>{{ attribute['name'] }}</dt>
                          <dd>{{ attribute['text'] }}</dd>
                        </dl>
                      </div>
					  {% endfor %}
                    </div>
				  {% endif %}
				  {% endfor %}
                  </div>
                </div>
				{% endif %}
				{% if (customTabs['tab'] is defined) %}
				{% for i,tab in customTabs['tab'] %}
				<button class="details__tabs-btn" data-tabs-btn="tab_custom_tab_{{ i }}">{{ tab['title'] }}
					<svg class="icon-arrow-down">
						<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-arrow-down"></use>
					</svg>
				</button>
				<div class="details__tabs-content" data-tabs-content="tab_custom_tab_{{ i }}">
					<div class="editor">
						{{ tab['description'] }} 
					</div>
				</div>
				{% endfor %}
			    {% endif %}
              </div>
            </div>
          </div>
        </div>
        <!-- Details :: End-->
		{% endif %}

        {% if (column_left or column_right) %}
			</div>
			{{ column_right ? '<div id="column-right" class="col-xl-3">' ~ column_right ~ '</div>' : ''}}
            </div>
          </div>
		{% endif %}
		
		{{ content_bottom }}
		
		{% if (products) %}
        <!-- Products :: Start-->
        <div class="products products--recomended">
          <div class="container-fluid">
            <span class="h2 products__heading">{{ text_related }}</span>
			{% if (p_related_view == 0) %}
            <div class="products__slides js-slick-recomended">
			  {% for product in products %}
                        <div class="products__item{% if (category_time and product['special'] and product['special_date_end']) %} products__item--countdown{% endif %}">
                          <div class="products__item-in">
						{% if (category_time and product['special'] and product['special_date_end']) %}
							{% if (product['special'] and product['sales']) %}
								<mark class="products__item-discount">{{ '<small>' ~ labelsinfo['sale']['name'][language_id] ~ '</small>' ~ product['discount'] }}</mark>
							{% endif %}
						{% endif %}
							  <div class="products__item-buttons">
							  <a class="btn btn--blog" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');">
								  <svg class="icon-blog">
									 <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-blog"></use>
								  </svg></a>
							  <a class="btn btn--like" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');">
								  <svg class="icon-like">
									<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-like"></use>
								  </svg></a>
							  </div>
						  <div class="products__item-stickers {{ category_time and product['special'] and product['special_date_end'] ? 'products__item-stickers--top' : ''}}"> 
						  {% if (product['rating'] != constant('false')) %}
							<div class="products__item-rating">
								<svg class="icon-star">
									<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-star"></use>
								</svg>{{ product['rating'] }}/5
							</div>
							{% endif %}
							{% if (product['isnewest']) %} 
								<mark class="products__item-mark products__item-mark--new">{{ labelsinfo['new']['name'][language_id] }}</mark>
							{% endif %} 
							{% if ((product['special'] and product['sales']) and not (category_time and product['special_date_end'])) %} 
								<mark class="products__item-mark products__item-mark--sale">{{ labelsinfo['sale']['name'][language_id] ~ ' ' ~ product['discount'] }}</mark>
							{% endif %} 
							{% if (product['popular']) %} 
								<mark class="products__item-mark products__item-mark--popular">{{ product['popular'] }}</mark>
							{% endif %} 
							{% if (product['hit']) %} 
								<mark class="products__item-mark products__item-mark--hit">{{ product['hit'] }}</mark>
							{% endif %} 
							{% if (product['catch']) %} 
								{% if (product['nocatch']) %} 
									<mark class="products__item-mark products__item-mark--nocatch">{{ product['catch'] }}</mark>
								{% else %} 
									<mark class="products__item-mark products__item-mark--catch">{{ product['catch'] }}</mark>
								{% endif %} 
							{% endif %} 
							{% if (product['reward']) %} 
								<mark class="products__item-mark products__item-mark--reward">{{ text_reward }} {{ product['reward'] }}</mark>
							{% endif %} 
						  </div>
						  {% if (not product['images']) %} 
						  <div class="products__item-images"><a href="{{ product['href'] }}"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-lazy' : 'src' }}="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a></div>
						  {% else %}
						  <div class="products__item-images js-slick-products">
							<a href="{{ product['href'] }}"><img data-lazy="{{ product['thumb'] }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ product['name'] }}"></a>
							{% for imageX in product['images'] %} 
								<a href="{{ product['href'] }}"><img data-lazy="{{ imageX }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ product['name'] }}"></a>
						  {% endfor %} 
						  </div>
						  {% endif %}
						  <div class="products__item-desc">
						  {% if (product['manufacturer']) %} 
						  <span class="products__item-category">{{ product['manufacturer'] }}</span>
						  {% endif %}
						  <a href="{{ product['href'] }}" class="products__item-title">{{ product['name'] }}</a>
						  <span class="products__item-price">
							{% if (product['price']) %} 
								{% if (product['special']) %} 
									<u>{{ product['price'] }}</u>{{ product['special'] }} 
								{% else %} 
									{{ product['price'] }}
								{% endif %}
							{% endif %} 
						  </span>	
							  {% if (category_time and product['special'] and product['special_date_end']) %}
							  <div class="products__item-countdown">
								<div class="countdown">
								  <p class="countdown__text">{{ time_text_1 }} <small>{{ time_text_2 }}</small></p>
								  <time class="countdown__time js-countdown-time" data-text-countdown="{{ text_countdown }}">{{ product['special_date_end'] }}</time>
								</div>
							  </div>
							  {% endif %}
							<div class="products__item-action">
								<button type="button" class="btn btn--cart" title="{{ button_cart }}" onclick="cart.add('{{ product['product_id'] }}', '{{ product['minimum'] }}');" {{ product['buy_btn'] ? 'disabled' : ''}}>{{ button_cart }}
								<svg class="icon-cart">
								  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-cart"></use>
								</svg></button>
								<a data-for="{{ product['product_id'] }}" title="{{ text_product_view_btn }}" class="btn btn--preview js-btn-preview" href="#popupprod">
                                <svg class="icon-preview">
                                  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-preview"></use>
                                </svg></a>
							</div>
						  </div>
                          </div>
                        </div>
			  {% endfor %}
            </div>
			{% else %}
                <div class="products__grid">
                  <div class="row">
					  {% for product in products %}
                    <div class="col-6 col-xl-{{ p_related_view }}">
					  <div class="products__item{% if (category_time and product['special'] and product['special_date_end']) %} products__item--countdown{% endif %}">
						<div class="products__item-in">
						{% if (category_time and product['special'] and product['special_date_end']) %}
							{% if (product['special'] and product['sales']) %}
								<mark class="products__item-discount">{{ '<small>' ~ labelsinfo['sale']['name'][language_id] ~ '</small>' ~ product['discount'] }}</mark>
							{% endif %}
						{% endif %}
						  <div class="products__item-buttons">
						  <a class="btn btn--blog" title="{{ button_compare }}"  onclick="compare.add('{{ product['product_id'] }}');">
							  <svg class="icon-blog">
								 <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-blog"></use>
							  </svg></a>
						  <a class="btn btn--like" title="{{ button_wishlist }}"  onclick="wishlist.add('{{ product['product_id'] }}');">
							  <svg class="icon-like">
								<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-like"></use>
							  </svg></a>
						  </div>
						  <div class="products__item-stickers {{ category_time and product['special'] and product['special_date_end'] ? 'products__item-stickers--top' : ''}}">
						  {% if (product['rating'] != constant('false')) %}
							<div class="products__item-rating">
								<svg class="icon-star">
									<use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-star"></use>
								</svg>{{ product['rating'] }}/5
							</div>
							{% endif %}
							{% if (product['isnewest']) %} 
								<mark class="products__item-mark products__item-mark--new">{{ labelsinfo['new']['name'][language_id] }}</mark>
							{% endif %} 
							{% if ((product['special'] and product['sales']) and not (category_time and product['special_date_end'])) %} 
								<mark class="products__item-mark products__item-mark--sale">{{ labelsinfo['sale']['name'][language_id] ~ ' ' ~ product['discount'] }}</mark>
							{% endif %} 
							{% if (product['popular']) %} 
								<mark class="products__item-mark products__item-mark--popular">{{ product['popular'] }}</mark>
							{% endif %} 
							{% if (product['hit']) %} 
								<mark class="products__item-mark products__item-mark--hit">{{ product['hit'] }}</mark>
							{% endif %} 
							{% if (product['catch']) %} 
								{% if (product['nocatch']) %} 
									<mark class="products__item-mark products__item-mark--nocatch">{{ product['catch'] }}</mark>
								{% else %} 
									<mark class="products__item-mark products__item-mark--catch">{{ product['catch'] }}</mark>
								{% endif %} 
							{% endif %} 
						  </div>
						  {% if (not product['images']) %} 
						  <div class="products__item-images"><a href="{{ product['href'] }}"><img {{ lazyload ? 'src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src' : 'src' }}="{{ product['thumb'] }}" alt="{{ product['name'] }}"></a></div>
						  {% else %}
						  <div class="products__item-images js-slick-products">
							<a href="{{ product['href'] }}"><img data-lazy="{{ product['thumb'] }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ product['name'] }}"></a>
							{% for imageX in product['images'] %} 
								<a href="{{ product['href'] }}"><img data-lazy="{{ imageX }}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{ product['name'] }}"></a>
						  {% endfor %} 
						  </div>
						  {% endif %}
						  <div class="products__item-desc">
						  {% if (product['manufacturer']) %} 
						  <span class="products__item-category">{{ product['manufacturer'] }}</span>
						  {% endif %}
						  <a href="{{ product['href'] }}" class="products__item-title">{{ product['name'] }}</a>
						  <span class="products__item-price">
							{% if (product['price']) %} 
								{% if (product['special']) %} 
									<u>{{ product['price'] }}</u>{{ product['special'] }} 
								{% else %} 
									{{ product['price'] }}
								{% endif %}
							{% endif %} 
						  </span>	
							  {% if (category_time and product['special'] and product['special_date_end']) %}
							  <div class="products__item-countdown">
								<div class="countdown">
								  <p class="countdown__text">{{ time_text_1 }} <small>{{ time_text_2 }}</small></p>
								  <time class="countdown__time js-countdown-time" data-text-countdown="{{ text_countdown }}">{{ product['special_date_end'] }}</time>
								</div>
							  </div>
							  {% endif %}
							<div class="products__item-action">
								<button type="button" class="btn btn--cart" title="{{ button_cart }}" onclick="cart.add('{{ product['product_id'] }}', '{{ product['minimum'] }}');" {{ product['buy_btn'] ? 'disabled' : ''}}>{{ button_cart }}
								<svg class="icon-cart">
								  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-cart"></use>
								</svg></button>
								<a data-for="{{ product['product_id'] }}" title="{{ text_product_view_btn }}" class="btn btn--preview js-btn-preview" href="#popupprod">
                                <svg class="icon-preview">
                                  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-preview"></use>
                                </svg></a>
							</div>
						  </div>
						</div>
					  </div>
                    </div>
					  {% endfor %}
                  </div>
                </div>
			{% endif %}
          </div>
        </div>
        <!-- Products :: End-->
		{% endif %}

		{{ blogs_related }}
		
		{% if (review_status) %}
        <!-- Comments :: Start-->
        <div class="comments">
          <div class="container-fluid">
            <span class="h2 comments__heading">{{ button_reviews }}<mark>{{ reviews_num }}</mark></span>
            <div class="row">
              <div class="col-lg-8">
                <div class="comments__container">
                  <div class="comments__container-in">
					<div id="review">{{ reviewsdata }}</div>
                    <div class="comments__form">
					{% if review_guest %}
                      <form id="form-review">
					    {% if (customer_name) %}
                        <div class="comments__user">
                          <figure class="comments__user-image">
                            <svg class="icon-photo">
                              <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-photo"></use>
                            </svg>
                          </figure><span class="comments__user-name">{{ customer_name }}</span>
                        </div>
						<input type="hidden" name="name" value="{{ customer_name }}">
						{% else %}
                        <h5>{{ text_write }}</h5>
						<input class="ui-input" type="text" name="name" value="{{ customer_name }}" placeholder="{{ entry_name }}">
						{% endif %}
                        <textarea class="ui-textarea" name="text" placeholder="{{ entry_review }}"></textarea>
                        <textarea class="ui-textarea ui-textarea--50" name="text_plus" placeholder="{{ text_review_plus }}"></textarea>
                        <textarea class="ui-textarea ui-textarea--50" name="text_minus" placeholder="{{ text_review_minus }}"></textarea>
						{{ captcha }}
                        <div class="comments__form-action">
                          <div class="ui-rating">
                            <p class="ui-rating__text">{{ entry_rating }}</p>
                            <div class="ui-rating__stars">
							{% set i=5 %}{% for i in i..1 %}
                              <input class="ui-rating__input" type="radio" name="rating" value="{{ i }}" id="star_{{ i }}">
                              <label class="ui-rating__label" for="star_{{ i }}">
                                <svg class="icon-star">
                                  <use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-star"></use>
                                </svg>
                              </label>
							{% endfor %}
                            </div>
                          </div>
                          <button class="btn btn--blue"  data-loading-text="{{ text_loading }}" onclick="reviewAdd(); return false;">{{ button_continue }}</button>
                        </div>
						{% if (text_review_pdata) %}
						<div class="personal-data">{{ text_review_pdata }}</div>
						{% endif %}
                      </form>
					{% else %}
					<h5>{{ text_write }}</h5>
					{{ text_login }}
					{% endif %}
                    </div>
                  </div>
                </div>
              </div>
			  {% if reviewsStats is not empty %} 
              <div class="col-hidden col-lg-visible col-lg-4">
                <span class="h2 comments__heading">{{ text_review }}</span>
                <div class="comments__statistic">
                  <table class="comments__statistic-table">
                   {% for reviewsStat in reviewsStats %}
                    <tr>
                      <td><span class="comments__statistic-line">{% for i in 1..reviewsStat.rating %}<span></span>{% endfor %}</span></td>
                      <td><span class="comments__statistic-pct">{{ reviewsStat.percent }}%</span></td>
                      <td>
					  {% if reviewsStat.count != 0 %} 
					  <a href="#" data-link="{{ reviewsStat.link }}" class="comments__statistic-count">{{ reviewsStat.count }} {{ reviewsStat.text }}</a>
					  {% else %}
					  <span class="comments__statistic-count">{{ reviewsStat.count }} {{ reviewsStat.text }}</span>
					  {% endif %}
					  </td>
                    </tr>
                   {% endfor %}
                  </table>
                  <button class="btn btn--transparent all_rew showmore" style="display:none;" data-link="product_id={{product_id}}&rating=0">{{ text_show_more }}</button>
                </div>
              </div>
			  {% endif %}
            </div>
          </div>
        </div>
        <!-- comments :: End-->
		{% endif %}
		
        {% if tags %}
		<div class="container-fluid">
			<p class="comments__tags">{{ text_tags }}
			{% for i in 0..tags|length %}
			{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
			{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
			{% endfor %} </p>
		</div>
        {% endif %}
		
		{% if (customTabs['popup'] is defined) %} 
			{% for key,popup in customTabs['popup'] %} 
		  <div class="popup popup--1090" style="display: none;" id="custom-popup-{{ key }}">
			<div class="writeus"><span class="writeus__heading">{{ popup['title'] }}</span>
			  <div class="writeus__form">
				{{ popup['description'] }}
			  </div>
			</div>
		  </div>
			{% endfor %} 
		{% endif %} 
		
        </div>
        <!-- Page :: End-->

      </main>
      <!-- Main :: End-->
{{ footer }}
{% if schema %} 
        <!-- Schema Org :: Start-->
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [
			{% for i,breadcrumb in breadcrumbs %}
			{
              "@type": "ListItem",
              "position": {{ i + 1 }},
              "item": {
                "@id": "{{ breadcrumb['href'] }}",
                "name": "{{ breadcrumb['text'] }}"
              }
            }{% if (i + 1 < breadcrumbs|length) %},{% endif %}
			{% endfor %}
			]
          }
        </script>
        <script type="application/ld+json">
          {
            "@context": "http://schema.org/",
            "@type": "Product",
            "name": "{{ heading_title }}",
            "image": [
			{% if (images_for_schema) %}
			{{ images_for_schema }}
			{% endif %} 
             ],
            "description": "{{ schema_description }}",
            "mpn": "{{ model }}",
            "sku": "{{ model }}",
            "brand": "{{ manufacturer }}",
			{% if (review_status and rating) %}
            "aggregateRating": {
              "@type": "AggregateRating",
			  "bestRating": "5",
			  "worstRating": "1",
              "ratingValue": "{{ rating }}",
              "reviewCount": "{{ reviews_num }}"
            },
			{% endif %}
            "offers": {
              "@type": "Offer",
              "url": "{{ href }}",
              "priceCurrency": "{{ currency }}",
			  {% if (not special) %}
              "price": "{{ price_schema }}",
			  {% if (discount_date_end) %}"priceValidUntil": "{{ discount_date_end }}",{% endif %}
			  {% else %}
              "price": "{{ special_schema }}",
			  {% if (special_date_end) %}"priceValidUntil": "{{ special_date_end }}",{% endif %}
			  {% endif %}
              "itemCondition": "http://schema.org/UsedCondition",
			  {% if (quantity > 0) %}
              "availability": "http://schema.org/InStock",
			  {% else %}
              "availability": "http://schema.org/OutOfStock",
			  {% endif %}
              "seller": {
                "@type": "Organization",
                "name": "{{ store }}"
              }
            }
          }
        </script>
        <!-- Schema Org :: End-->
{% endif %}
<script>
$('select[name=\'recurring_id\'], #product input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], #product input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .recurring .ui-error').remove();
			$('.recurring .ui-field').removeClass('is-error');

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});


	
$('#button-cart').on('click', function() {

	var datapr = $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'number\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea');

	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: datapr,
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .ui-error').remove();
			$('[id^="input-option"],.ui-field').removeClass('is-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('ui-select')) {
							element.parent().after('<span class="error ui-error">' + json['error']['option'][i] + '</span>').parent().addClass('is-error');
						} else if (element.hasClass('ui-input') || element.hasClass('ui-textarea')) {
							element.after('<svg class="icon-error"><use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-error"></use></svg><span class="error ui-error">' + json['error']['option'][i] + '</span>').parent().addClass('is-error');
						} else {
							element.after('<span class="error ui-error">' + json['error']['option'][i] + '</span>').addClass('is-error');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').parent().after('<span class="error ui-error">' + json['error']['recurring'] + '</span>').parent().addClass('is-error');
				}

			}

			if (json['success']) {
				cartExrtaElem(json['total']);
				
				if ($('.js-cart-call').length) {
					$('.js-cart-call>button').trigger('click');
				} else {
					$('.alerts').append($('<div class="alert alert-success alert-dismissible fade show" role="alert"> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg class="icon-delete"><use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-delete"></use></svg></button></div>'));
				}
				$('#cart-total').html('<mark class="cart__counter" id="cart-total"> ' + json['total'] + '</mark>');

				sendYM('technics_addtocart_product');
				sendGA(datapr,'technics_addtocart_product');
				
				$('#cart .cart__body').load('index.php?route=common/cart/info div.cart__scroll',function(){
					$('#cart input[type=\'number\']').styler();
				});
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});


/*@preserve
 * Tempus Dominus Bootstrap4 v5.1.2 (https://tempusdominus.github.io/bootstrap-4/)
 * Copyright 2016-2018 Jonathan Peterson
 * Licensed under MIT (https://github.com/tempusdominus/bootstrap-3/blob/master/LICENSE)
 */
var $d = $('.date'),
	$dt = $('.datetime'),
	$t = $('.time');
if ($d.length) {
	$d.datetimepicker({
		locale: '{{ datepicker }}',
		format: 'L',
		icons: {
			previous: 'icon-datepicker icon-datepickerchevron-small-left',
			next: 'icon-datepicker icon-datepickerchevron-small-right'
		},
		pickTime: false
	});
}
if ($dt.length) {
	$dt.datetimepicker({
		locale: '{{ datepicker }}',
		icons: {
			time: 'icon-datepicker icon-datepickerclock',
			date: 'icon-datepicker icon-datepickercalendar',
			up: 'icon-datepicker icon-datepickerchevron-small-up',
			down: 'icon-datepicker icon-datepickerchevron-small-down',
			previous: 'icon-datepicker icon-datepickerchevron-small-left',
			next: 'icon-datepicker icon-datepickerchevron-small-right'
		},
		pickDate: true,
		pickTime: true
	});
}
if ($t.length) {
	$t.datetimepicker({
		locale: '{{ datepicker }}',
		format: 'LT',
		icons: {
			up: 'icon-datepicker icon-datepickerchevron-small-up',
			down: 'icon-datepicker icon-datepickerchevron-small-down'
		},
		pickDate: false
	});
}


$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.ui-error').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<span class="error ui-error">' + json['error'] + '</span>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

	$('#review').delegate('.pagination a', 'click', function(e) {
		e.preventDefault();

		$('#review').fadeOut('slow');

		$('#review').load(this.href);

		$('#review').fadeIn('slow');
	});


	$('.sku').on('click', ' .comments__statistic a, .all_rew',  function(e) {
		e.preventDefault();
		$('#review').load('index.php?route=product/product/review&' + $(this).attr('data-link'));

		if ($(this).hasClass('showmore')) {
			$('.showmore').hide();
		}else{
			$('.showmore').show();
		}
		
	});

	var product_id = {{ product_id }};

	function reviewAdd() {

	    $.ajax({
	      url: 'index.php?route=product/product/write&product_id=' + product_id,
	      type: 'post',
	      dataType: 'json',
	      data: $("#form-review").serialize(),
	      beforeSend: function() {
	        $('#form-review button').button('loading');
	      },
	      complete: function() {
	        $('#form-review button').button('reset');
	      },
	      success: function(json) {
	        $('.alert-dismissible').remove();
			
	        if (json['error']) {
	          $('#form-review').before('<div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-bottom: 2rem;"> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg class="icon-delete"><use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-delete"></use></svg></button></div>');
			  
	        }
	        if (json['success']) {
	          $('#form-review').before('<div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-bottom: 2rem;"> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert" aria-label="Close"><svg class="icon-delete"><use xlink:href="catalog/view/theme/technics/sprites/sprite.svg#icon-delete"></use></svg></button></div>');
			  
	          $('input[name=\'name\']').val('');
	          $('textarea[name=\'text\']').val('');
	          $('textarea[name=\'text_plus\']').val('');
	          $('textarea[name=\'text_minus\']').val('');
	          $('input[name=\'rating\']:checked').prop('checked', false);

	        }
	      }
	    });
	}

$(document).on('click','.comments__item-action a', function(e) {
	e.preventDefault();

	var subj = $(this);
	var review_id = subj.attr("data-for");

	var like = 0;
	if (subj.hasClass('btn--good')) {  like = 1; }

	    $.ajax({
	      url: 'index.php?route=product/product/like&review_id=' + review_id + '&islike=' + like,
	      type: 'post',
	      dataType: 'json',
	      data: '',
	      complete: function() {

	      },
	      success: function(json) {

	        if (json['success']) {
	        	subj.find('span').text(json['success']['likes']);
	        }
	      }
	    });

});

$(document).on('click','.sku__rating', function(e) {
	e.preventDefault();
	$('html, body').animate({
		scrollTop: $('.comments').offset().top
	}, 400);
});

$(document).ready(function(){
	{% if (reviewsdata is same as(false)) %}	
		$('#review').load('index.php?route=product/product/review&product_id=' + {{ product_id }}, function(e) {});
	{% endif %}

    $('body').on('click', '#boc_order_btn_zzz', function(event) {
        $.ajax({
            url: 'index.php?route=extension/module/buyoneclick/common/buyoneclick/info',
            type: 'post',
            data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
            dataType: 'json',
            beforeSend: function() {
                //$(event.target).button('loading');
                //$('#boc_order').empty();
                //$('#boc_order').append('<div class="lds-rolling"><div></div></div>');
            },
            complete: function() {
                $(event.target).button('reset');
            },
            success: function(json) {
                $('.alert, .text-danger').remove();
                $('.form-group').removeClass('has-error');
                if (json['error']) {
                    if (json['error']['option']) {
                        for (i in json['error']['option']) {
                            var element = $('#input-option' + i.replace('_', '-'));
                            if (element.parent().hasClass('input-group')) {
                                element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            } else {
                                element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                            }
                        }
                    }

                    if (json['error']['recurring']) {
                        $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                    }

                    // Highlight any found errors
                    $('.text-danger').parent().addClass('has-error');
                } else {
                    //$('#boc_order').html(json['success']);
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError + " | " + xhr.statusText + " | " + xhr.responseText);
            }
        });
    });

    $('#boc_order_btn_zzz').trigger('click');

});



</script>
</body></html>